{% extends 'main.html' %}

{% block body %}
<div class="container">
        <div class="row justify-content-md-center align-items-center vh-100">
            <div class="col-lg-4">
                <form method="post" action="#" id="frmForm" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <img class="img-fluid mb-5" src="/static/img/mec-logo.png" alt="Logo-Mec">
                    <i class="{{ dashboard.icon }} fa-solid fa-users-rectangle mb-3" style="font-size: 75px;"></i>
                    <h1 class="h3 mb-3 fw-normal"  style="font-family: monospace;">Iniciar Sesión</h1>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" name="username" required class="form-control" id="username" required>
                            <label for="username">Usuario:</label>
                            
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating flex-grow-1">
                            <input type="password" name="password" class="form-control" id="password" required>
                            <label for="password">Contraseña:</label>
                        </div>
                        
                    </div>
                    <button class="w-100 btn btn-lg btn-success mt-3" type="submit" style="font-family: monospace;">
                        <i class="fas fa-sign-in-alt"></i> Iniciar Sesión                    </button>
                    <p class="p-3 h6 details">Si desea recuperar su <i class="fas fa-key"></i> contraseña puede dar click <a href="#">AQUI</a></p>
                </form>
            </div>
            <div>
                {% include 'message.html' %}
            </div>
        </div>        
    </div>

   
{% endblock %}


{% block extrascripts %}

  <script>
    window.onload = function() {
        document.getElementById('main_spinner').style.display = 'none';
        document.getElementById('main_container').style.display = 'block';
    };
</script>

{% endblock %}