{% extends 'main.html' %}

{% block content %}

<div id="main_container" style="display:none">

  <div class="container-fluid"> 
    
    <div class="row">
      <h2 class="titulo">Agregar Pedido de Bonificación Func. Permanente</h2>
    </div> 
           

  <div class="row">
    <div class="col-3 mb-3"></div>
    <div class="col-8 mb-3">
    <form method="post" id="formulario" action="">


      {% include 'bonificacion_permanente_base.html' %} 

    </form>
    </div>  
  </div>  
  <div class="row">
        <div class="col-3 mb-3" style="margin-left: 24px;"></div> 
  
        <button class="btn btn-outline-secondary me-2"
          type="button" 
          id="btn_cancelar">
          Cancelar
        </button>


        <button class="btn btn-primary me-2" 
          type="button" 
          id="btn_agregar">
          Agregar
        </button>

  </div>   

    
  </div>    


</div> 
{% endblock %}





{% block extrascripts %}

  <script>

  

    window.onload = function() {



      // filtrar trabajador por cedula  
      var nombreInput = document.getElementById('id_nombre');
      nombreInput.disabled = true;

      var cedulaInput = document.getElementById('id_cedula');
      cedulaInput.addEventListener('blur', function() {
          
        var cedula = cedulaInput.value.trim();
        
        // Realizar la solicitud AJAX
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/trabajador/nombre/' + cedula + '/');
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);

                if (response.nombre) {                  
                    nombreInput.value =response.nombre; 
                }
            } 
            else if (xhr.status === 404) {              
                nombreInput.value = ""; 
            }
        };
        xhr.send();
      });  




       

      comboselect2('cinsti');
      comboselect2('cinsti_presupuestaria');

      comboselect2_cargos('ccargo')





      var objetoElement = document.getElementById("objeto");
      $(objetoElement).select2({
          width: '100%',
          minimumResultsForSearch: -1 // Deshabilita la búsqueda
      });

      // Agrega un controlador de eventos para el cambio de valor del select
      $(objetoElement).on('change', function() {
          // Obtiene el valor seleccionado
          var selectedValue = $(this).val();          
          var objetoId = selectedValue;

          if (objetoId) {
            const conceptoSelect = document.getElementById('concepto');            
            fetch('/concepto/objeto/'+objetoId)        
            .then(response => response.json())
            .then(data => {
    
                // Limpia las opciones actuales del select
                conceptoSelect.innerHTML = '';

                // Itera sobre los datos recibidos y crea opciones para el select de conceptos
                data.forEach(item => {    
                  var option = document.createElement('option');
                  option.value = item.id_concepto_nomina;
                  //option.text = item.concepto;              
                  option.text = item.codigo_concepto_nomina + ' - ' + item.concepto; 
                  conceptoSelect.appendChild(option);    
                });
            })                
            .catch(error => {
                console.error('Error:', error);
            });                  
          }
      });





      document.getElementById('btn_agregar').addEventListener('click', function() {
        // Obtener los valores de anio y mes del formulario

        var anio = document.getElementById('anio').value;
        var mes = document.getElementById('mes').value;
        var obj = document.getElementById('obj').value;
        var concepto_id = document.getElementById('concepto_id').value;

        // Construir la URL utilizando los valores obtenidos
        var url = '/bonificacion/crear/' + anio + '/' + mes + '/' + obj + '/' + concepto_id + '/'; 

    
        // Asignar la URL al atributo action del formulario
        document.getElementById('formulario').action = url;

        // Enviar el formulario
        document.getElementById('formulario').submit();       
      });






      
      document.getElementById('btn_cancelar').addEventListener('click', function() {

        var anio = document.getElementById('anio').value;
        var mes = document.getElementById('mes').value;
        var obj = document.getElementById('obj').value;
        var concepto_id = document.getElementById('concepto_id').value;
        
        var url = '{% url "bonificacion_permanente:list" %}' + ""+anio+"/"+mes+"/"+obj+"/"+concepto_id

        window.location.href = url;

      });





      mostrarContenido();

    };
</script>

{% endblock %}

