{% extends 'main.html' %}
{% load static %}

{% block content %}
<div id="main_container" style="display:none">

  <div class="container-fluid">
          
    
    <h2 class="titulo">Detalles de Bonificaciones Func. Permanente</h2>        
    <div class="row">
      <div class="col-3 mb-3"></div>
      <div class="col-9 mb-3">
    <form method="post" id="formulario" action="">

        {% include 'bonificacion_permanente_base.html' %} 


        <div class="row">
          <div class="col-3 mb-3" style="margin-left: 24px;"></div> 
    
    
          <button class="btn btn-primary me-2" 
            type="button" 
            id="btn_lista">
            Ir a la lista
          </button>
    
        </div> 
    



    </form>
    </div>
    </div>

  </div>
</div>
 
{% endblock %}





{% block extrascripts %}

  
  <script>
    window.onload = function() {



      mostrarContenido();
      bloquearCamposFormulario('formulario');



      document.getElementById('btn_lista').addEventListener('click', function() {

        var anio = document.getElementById('anio').value;
        var mes = document.getElementById('mes').value;
        var obj = document.getElementById('obj').value;
        var concepto_id = document.getElementById('concepto_id').value;
        

        var url = '{% url "bonificacion_permanente:list" %}' + ""+anio+"/"+mes+"/"+obj+"/"+concepto_id  
        window.location.href = url;

  
      });


    };
</script>

{% endblock %}









    
