
{% load humanize %} 


<table class="table table-striped">
    <thead>

        <tr>                
            <th>objeto</th>
            <th>concepto</th> 
            <th>cedula</th>                    
            <th>nombre</th>
            
            <th>presupuestado</th>
            <th>gasto repre</th>
            <th>repre cargo</th>
            <th>jubilacion</th>
            <th>liquido</th>

            <th>estado</th>                      
            <th>acciones</th>                      

        </tr>
    </thead>
    <tbody>
        {% for registro in lista %}
            <tr>
                <td>{{ registro.objeto }}</td> 
                <td>{{ registro.concepto }}</td> 
                
                <td class="text-end">{{ registro.cedula|intcomma }}</td>

                <td>{{ registro.nombre }}</td>  
                
                <!-- Usar intcomma para formatear números con comas como separadores de miles -->
                <td class="text-end">{{ registro.presupuesto|intcomma }}</td>
                <td class="text-end">{{ registro.monto113|intcomma }}</td>
                <td class="text-end">{{ registro.calculo|intcomma }}</td>
                <td class="text-end">{{ registro.jubilacion|intcomma }}</td>
                <td class="text-end">{{ registro.liquido|intcomma }}</td>
                
                <td>{{ registro.estado }}</td>

            
                <td>
                    <div  class="d-flex align-items-center">

                        <a href="{% url 'bonificacion_permanente:edit' registro.id %}" 
                            style="color: #0099CC;"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Editar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                            </svg>
                        </a>

                    </div>
                </td>                            

            </tr>
        {% endfor %}
    </tbody>

</table>

