{% extends 'main.html' %}

  {% block content %}
  
  <div id="main_container" style="display:none,">

     <div class="container-fluid">
      

      <h2 class="titulo">Editar</h2>  

      <div class="row"> 
      <div class="col-3 mb-3"></div>  
      <div class="col-9 mb-3">
      <form method="post" id="formulario" action="">
                  
        {% include 'app/bonificacion_permanente/form_base.html' %} 

      </div> 
    </div>


    <div class="row">
      <div class="col-3 mb-3" style="margin-left: 24px;"></div> 

      <button class="btn btn-outline-secondary me-2"
        type="button" 
        id="btn_cancelar">
        Cancelar
      </button>


      <button class="btn btn-primary me-2" 
        type="button" 
        id="btn_editar">
        Guardar
      </button>

    </div> 



  
      </form>
    </div>
    
   

    </div>  


  </div>
  {% endblock %}





{% block extrascripts %}

 
<script>

    window.onload = function() {



      // Selecciona todos los elementos input dentro del documento
      var inputs = document.querySelectorAll('input');


      // Itera sobre cada input y lo deshabilita
      inputs.forEach(function(input) {
          input.disabled = true;
      });




      document.getElementById('btn_editar').addEventListener('click', function() {

        // Obtener el ID del registro desde el contexto
        //var registroId = {{ registro.pk }}; // Asegúrate de que 'registro' esté disponible

        var registroId = document.getElementById("id").value;

        // Construir la URL de redirección utilizando el ID del registro
        var url = "{% url 'bonificacion_permanente:edit' registro.pk %}".replace('registro.pk', registroId);

        // Asignar la URL al atributo action del formulario
        document.getElementById('formulario').action = url;

        // Desbloquear todos los inputs del formulario
        var inputs = formulario.querySelectorAll('input, select, textarea');
        inputs.forEach(function(input) {
            input.disabled = false;
        });


        // Enviar el formulario
        document.getElementById('formulario').submit();


        // Desbloquear todos los inputs del formulario
        var inputs = formulario.querySelectorAll('input, select, textarea');
        inputs.forEach(function(input) {
            input.disabled = true;
        });


    });





  



    document.getElementById('btn_cancelar').addEventListener('click', function() {

      var anio = document.getElementById('anio').value;
      var mes = document.getElementById('mes').value;
      var obj = document.getElementById('obj_hidden').value;
      var concepto_id = document.getElementById('concepto_id').value;
      
      var url = '{% url "bonificacion_permanente:list" %}' +anio+"/"+mes+"/"+obj+"/"+concepto_id

      window.location.href = url;

    });




      mostrarContenido();

    };


</script>

{% endblock %}




