
{% csrf_token %}

   

<div class="container">
            
    <div class="row">
        <div class="col-1 mb-4">
            <label for="id" class="form-label">ID:</label>
            <input type="text"  id="id" value="{{ registro.id }}" class="form-control" required disabled>
            <input type="hidden" name="id" value="{{ registro.id }}">
        </div>

        <div class="col-2 mb-4">
            <label for="anio" class="form-label">Año:</label>
            <input type="text" name="anio" id="anio" value="{{ anio }}" class="form-control" required>            
            <input type="hidden" name="anio_hidden" id="anio_hidden" value="{{ anio }}">
        </div>
        
        <div class="col-4 mb-4">
            <label for="mes" class="form-label">mes:</label>
            <input type="text" name="mes" id="mes" value="{{ mes }}" class="form-control" required>                        
        </div>
        



    </div>





    <div class="row">
        <div class="col-8 mb-3">
            <label for="objeto" class="form-label col-form-label">Objeto:</label>
            <input type="text" 
                   name="objeto" 
                   id="objeto" 
                   class="form-control" 
                   value="{{ objeto }}" />
            <input type="hidden" name="obj_hidden" id="obj_hidden" value="{{ registro.objeto.codigo_objeto_gasto }}">                   
        </div>
    </div>



    <div class="row">
        <div class="col-8 mb-3">
            <label for="concepto" class="form-label col-form-label">Concepto:</label>
            <input type="text" 
                   name="concepto" 
                   id="concepto" 
                   class="form-control" 
                   value="{{ concepto }}" />
            <input type="hidden" name="concepto_id" id="concepto_id" value="{{ registro.concepto.codigo_concepto_nomina }}">                                      
        </div>
    </div>




    <div class="row">
        <div class="col-2 mb-3">
            <label for="cedula" class="form-label">C.I. N°:</label>
            <input  type="{{ form.cedula.field.widget.input_type }}"
                name = "{{ form.cedula.name }}" 
                id  =  "{{ form.cedula.id_for_label }}"
                class="form-control"                 
                value= "{{ form.cedula.value|default_if_none:'' }}" {% if form.cedula.required %}required{% endif %}>                
        </div>
        <div class="col-6 mb-3"><label for="nombre" class="form-label">Nombres/Apellidos:</label>
            <input  type="{{ form.nombre.field.widget.input_type }}"
                name = "{{ form.nombre.name }}" 
                id  =  "{{ form.nombre.id_for_label }}"
                class= "form-control" 
                value= "{{ form.nombre.value|default_if_none:'' }}" {% if form.nombre.required %}required{% endif %}>                
        </div>
    </div>


            
    <div class="row">

        <div class="col-2 mb-2">
            <label for="presupuesto" class="form-label">Presupuesto:</label>
            <input type="text" name="presupuesto" id="presupuesto_display" value="{{ registro.presupuesto }}" class="form-control" required>
        </div>
    
        <div class="col-2 mb-2">
            <label for="devengado" class="form-label">Devengado:</label>
            <input type="text" name="devengado" id="devengado_display" value="{{ registro.devengado }}" class="form-control" required>
        </div>
    
        <div class="col-2 mb-2">
            <label for="jubilacion" class="form-label">Jubilación:</label>
            <input type="text" name="jubilacion" id="jubilacion_display" value="{{ registro.jubilacion }}" class="form-control" required>
        </div>
    
        <div class="col-2 mb-2">
            <label for="liquido" class="form-label">Líquido:</label>
            <input type="text" name="liquido" id="liquido_display" value="{{ registro.liquido }}" class="form-control" required>
        </div>
    
    </div>
    


    <div class="row">
        <div class="col-4 mb-3">
            <label for="estado" class="form-label">Estado:</label>
            <select name="estado" id="estado" class="form-control" required>
                <option value="">Seleccione un estado</option>
                {% for estado in estados %}
                    <option value="{{ estado.estado }}"
                        {% if estado.estado == registro.estado.estado %}selected{% endif %}>
                        {{ estado.descripcion }} <!-- Muestra la descripción del estado -->
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    


</div>














