{% extends 'main.html' %}


{% block content %}
<div id="main_container" style="display:none">

    <div class="container mb-4">


        <h2 class="titulo" >
            Pedido de Bonificaciones Func. Permanentes</h2>

            <form method="get" id="formulario" acction="#" class="mt-3">

            
                <div class="row">

                    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-3 col-5  mb-3">
                        <label for="anio" class="form-label">Año:</label>        
                        <input type="text" name="anio" id="anio" value="{{ anio }}" required class="form-control">
                    </div>
            
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-5 mb-3"> 
                        <label for="mes" class="form-label w-100">Seleccione el mes:</label>
                        <select name="mes" id="mes" required class="form-select">
                        <option value="1" {% if mes == 1 %}selected{% endif %}>Enero</option>
                        <option value="2" {% if mes == 2 %}selected{% endif %}>Febrero</option>
                        <option value="3" {% if mes == 3 %}selected{% endif %}>Marzo</option>
                        <option value="4" {% if mes == 4 %}selected{% endif %}>Abril</option>
                        <option value="5" {% if mes == 5 %}selected{% endif %}>Mayo</option>
                        <option value="6" {% if mes == 6 %}selected{% endif %}>Junio</option>
                        <option value="7" {% if mes == 7 %}selected{% endif %}>Julio</option>
                        <option value="8" {% if mes == 8 %}selected{% endif %}>Agosto</option>
                        <option value="9" {% if mes == 9 %}selected{% endif %}>Septiembre</option>
                        <option value="10" {% if mes == 10 %}selected{% endif %}>Octubre</option>
                        <option value="11" {% if mes == 11 %}selected{% endif %}>Noviembre</option>
                        <option value="12" {% if mes == 12 %}selected{% endif %}>Diciembre</option>
                        </select>
                    </div>
                </div>



                <div class="row">
                    <div class="col-8 mb-3">
                        <label for="objeto" 
                            class="form-label col-form-label">Objeto:</label>
                            
                            <select name="objeto" 
                                id="objeto"
                                class="form-control" >
                                <option value="0">Seleccione un objeto de gasto</option>
                                {% for objeto in objetos %}
                                <option value="{{ objeto.codigo_objeto_gasto }}"
                                    {% if objeto.codigo_objeto_gasto == obj %}selected{% endif %}>        
                                    {{ objeto }}                                    
                                </option>
                                {% endfor %}
                            </select>

                    </div>
                </div>
    


    
                <div class="row">
                    <div class="col-8 mb-3">
                        <label for="concepto" 
                            class="form-label col-form-label">Concepto:</label>

                        <select name="concepto" 
                                id="concepto"
                                class="form-control">                            
                            <option value="0">Seleccione un concepto</option>
                            {% for concepto in conceptos %}

                                <option value="{{ concepto.codigo_concepto_nomina }}"
                                {% if concepto.codigo_concepto_nomina|striptags == concepto_id|striptags %}selected{% endif %}>
                                    {{ concepto }}
                                </option>

                            {% endfor %}
                        </select>      


                    </div>
                </div>

    
                <div class="row">


                    <div class="col-md-2 mb-3">                        
                        <button class="btn btn-primary" type="button" 
                            id="busqueda_cabecera">Buscar</button>                        
                    </div>  


                    <div class="dropdown col-md-2 mb-3" style="display: none;">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" 
                        data-bs-toggle="dropdown" aria-expanded="false">
                          Descargar
                        </button>
                        <ul class="dropdown-menu">
                          <li><button class="dropdown-item" type="button" id="descargarExel">Excel</button></li>                          
                        </ul>    
                    </div>

                    <div class="col-md-6"></div>  

                </div>

            </form>
    

            <!-- <h6>Concepto: {{ concepto_id }}</h6>  Muestra el valor de "concepto" -->



        <div class="table-responsive mt-4">

        {% if concepto_id == '1113000' %}
            {% include 'app/bonificacion_permanente/detalle_113_1113000.html' %}
        {% elif concepto_id == '1133010' %}
            {% include 'app/bonificacion_permanente/detalle_133_1133010.html' %}
        {% elif concepto_id == '1133030' %}
            {% include 'app/bonificacion_permanente/detalle_133_1133030.html' %}
        {% elif concepto_id == '1133040' %}
            {% include 'app/bonificacion_permanente/detalle_133_1133040.html' %}

        {% endif %}


        </div>
    
        
        

        {% if cantidad_registros == 0 %}        
        <div class="alert alert-warning" role="alert">
            No se encontraron registros    
        </div>
        {% else %}
        


        <div class="pagination mt-3">
            <ul class="pagination">
                {% if lista.has_previous %}
                <li class="page-item">
                    <a href="?page=1 {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> &laquo; &nbsp;primero&nbsp;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ lista.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">anterior &nbsp;</a>
                </li>    
                {% endif %}

                <li class="page-item disabled">
                <span class="page-link">
                    Página {{ lista.number }} de {{ lista.paginator.num_pages }}.
                </span>
                </li>

                {% if lista.has_next %}
                <li class="page-item">
                    <a href="?page={{ lista.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&nbsp;siguiente &nbsp;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ lista.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">ultimo&nbsp;&raquo;</a>
                </li>    
                {% endif %}
            </ul>    
        </div>

        {% endif %}





        <!-- Combo select para procesos -->
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <form id="processForm" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="processSelect">Proceso:</label>
                            <select id="processSelect" class="form-control">
                                <option value="0">Seleccione un proceso</option>
                                <!-- Opciones generadas dinámicamente -->
                                {% for proceso in procesos %}
                                <option value="{{ proceso.proceso }}">{{ proceso.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button id="btn_ejecutar_proceso" class="btn btn-primary btn-block">Ejecutar</button>
                </div>
            </div>
        </div>




    </div>

</div>    
{% endblock %}


{% block extrascripts %}

  <script>
    window.onload = function() {


        var busqueda_cabecera = document.getElementById('busqueda_cabecera');
        busqueda_cabecera.addEventListener('click', function() {
            // Obtener los valores del formulario
            var anio = document.getElementById('anio').value;
            var mes = document.getElementById('mes').value;

            var objeto = document.getElementById('objeto').value;
            var concepto = document.getElementById('concepto').value;


            //var buscar = document.getElementById('buscar').value;
            var buscar = ""

            // Construir la URL con los parámetros    
            var url = '{% url "bonificacion_permanente:list" %}' + ""+anio+"/"+mes+"/"+objeto+"/"+concepto
            
            if (buscar.trim() !== '') {
                url +=  '?page=1' + '&q=' + encodeURIComponent(buscar);
            } 
            // Redireccionar a la URL construida

            window.location.href = url;

        });
    







        var descargarExel = document.getElementById('descargarExel');
        descargarExel.addEventListener('click', function() {



            // Obtener los valores del formulario
            var anio = document.getElementById('anio').value;
            var mes = document.getElementById('mes').value;
            var objeto =  document.getElementById('objeto').value;
            var concepto =  document.getElementById('concepto').value;

            
            // Construye la URL con los parámetros de consulta
            // const url = 

            var url = '{% url "bonificacion_permanente:exportar_excel" %}';
            url = url + `?anio=${anio}&mes=${mes}&objeto=${objeto}&concepto=${concepto}`;


            // Redirige a la URL para descargar el archivo Excel
            window.location.href = url;
            

        });





/*
        var btn_nuevo = document.getElementById('btn_nuevo');
        btn_nuevo.addEventListener('click', function() {

            // Obtener los valores del formulario
            var anio = document.getElementById('anio').value;
            var mes = document.getElementById('mes').value;
            var obj =  document.getElementById('objeto').value;
            var concepto =  document.getElementById('concepto').value;
            



            if (obj === '0' || concepto === '0') {

                var url = '/bonificacion/lista/permanente';
                // Datos que enviarás en la solicitud POST
                var data = {
                    mensaje: "Faltan agregar valores a la cabecera",
                    tipo: "error"  
                };
                var csrftoken = getCookie('csrftoken');  
                // Realiza la solicitud POST usando JavaScript vanilla
                var xhr = new XMLHttpRequest();
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");  
                xhr.setRequestHeader("X-CSRFToken", csrftoken); 
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            window.location.href = response.redirect_url;
                        } 
                    }
                };                        
                xhr.send(JSON.stringify(data));

            } 
            else {
                var url = `/bonificacion/crear/permanente/${anio}/${mes}/${obj}/${concepto}/`;
                window.location.href = url;

            }


        });
*/    


        


        // Manejar el evento de clic del botón
        document.getElementById('btn_ejecutar_proceso').addEventListener('click', function() {

            var selectedProcess = document.getElementById('processSelect').value;
            var anio = document.getElementById('anio').value;  // Obtener el valor del campo anio
            var mes = document.getElementById('mes').value;  



            // Asignar el valor de selectedProcess a un campo oculto en el formulario
            var hiddenProcessInput = document.createElement('input');
            hiddenProcessInput.type = 'hidden';
            hiddenProcessInput.name = 'selected_process';  // Nombre del campo en el formulario
            hiddenProcessInput.value = selectedProcess;
            

            // Crear campos ocultos para anio y mes
            var hiddenAnioInput = document.createElement('input');
            hiddenAnioInput.type = 'hidden';
            hiddenAnioInput.name = 'anio';  // Nombre del campo en el formulario
            hiddenAnioInput.value = anio;

            var hiddenMesInput = document.createElement('input');
            hiddenMesInput.type = 'hidden';
            hiddenMesInput.name = 'mes';  // Nombre del campo en el formulario
            hiddenMesInput.value = mes;

            var hiddenObjetoInput = document.createElement('input');
            hiddenObjetoInput.type = 'hidden';
            hiddenObjetoInput.name = 'objeto';  
            var select = document.getElementById('objeto');
            var indiceSeleccionado = select.selectedIndex;
            var opcionSeleccionada = select.options[indiceSeleccionado];
            hiddenObjetoInput.value =  opcionSeleccionada.value;


            var hiddenConceptoInput = document.createElement('input');
            hiddenConceptoInput.type = 'hidden';
            hiddenConceptoInput.name = 'concepto';  
            hiddenConceptoInput.value =  document.getElementById('concepto').value;



            // Obtener el formulario y agregar los campos ocultos
            var form = document.getElementById('processForm');
            form.appendChild(hiddenProcessInput);
            form.appendChild(hiddenAnioInput);
            form.appendChild(hiddenMesInput);
            form.appendChild(hiddenObjetoInput);
            form.appendChild(hiddenConceptoInput);
    


            form.action = '{% url "procesos:generar_lista" %}';
            form.submit();
            
        });        



        $('#concepto').select2({
            width: '100%'
        });


        //comboselect2('cinsti');
        var selectObjeto = document.getElementById('objeto');        
        $(selectObjeto).select2({
            width: '100%'
        });            

        
        // Manejar el evento select2:select
        $(selectObjeto).on('select2:select', function (e) {
            var selectedValue = e.params.data.id;  // Obtiene el valor del elemento seleccionado
            //alert('Valor seleccionado: ' + selectedValue);  // Muestra una alerta con el valor seleccionado
            
            // Actualizar el select concepto con el nuevo valor de og
            $('#concepto').select2({
                width: '100%',
                ajax: {
                    url: '/concepto/nomina/filtrar/',
                    data: function(params) {
                        return {
                            og: selectedValue  // Usar el valor seleccionado en objeto como og
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: data.map(item => ({
                                id: item.codigo,
                                text: item.concepto
                            }))
                        };
                    }
                }
            }).val(null).trigger('change');  // Resetear el valor seleccionado en concepto
        });
        

    

        /*
        $('#concepto').select2({
            width: '100%'
        });
        */
        /*
        $('#concepto').select2({
            width: '100%',
            ajax: {
                url: '/concepto/nomina/filtrar/',
                data: { og: 111 },  // Parámetro inicial 'og'
                processResults: function(data) {
                    return {
                        results: data.map(item => ({
                            id: item.codigo,
                            text: item.concepto
                        }))
                    };
                }
            }
        })        
        */


        mostrarContenido();

    };
</script>

{% endblock %}


