{% extends 'main.html' %}

{% block content %}
<div id="main_container" style="display:none">

  <div class="container">    

    <h2 class="titulo">Agregar Periodo de Liquidación</h2>        

    
    <form method="post" id="formulario" action="">


      {% include 'app/periodo/form_base.html' %} 

      <div style="margin-left: 225px;">  
  
        <a  href="{% url 'periodo:list' anio  %}" type="button" 
          class="btn btn-outline-secondary">Cancelar</a>    

        <button type="button" id="agregar" class="btn btn-primary">Agregar</button>

      </div>

    </form>
  </div>    


</div> 
{% endblock %}





{% block extrascripts %}

  <script>

  
    window.onload = function() {

      document.getElementById('agregar').addEventListener('click', function() {
          // Obtener los valores de anio y mes del formulario
          var anio = document.getElementById('anio_hidden').value;
          var mes = document.getElementById('mes').value;
      
          // Construir la URL de redirección            
          var url = "{% url 'periodo:create' anio %}"
      
          // Asignar la URL al atributo action del formulario
          document.getElementById('formulario').action = url;

          // Enviar el formulario
          document.getElementById('formulario').submit();       
      });


      var selectElement = document.getElementById('mes');      
      selectElement.addEventListener('change', function() {          
        var selectedValue = selectElement.value;
        obtenerNumeroPlanillaPeriodo();
      });


      var anio = document.getElementById('anio_display');      
      // Añadir evento blur al campo de texto
      anio.onblur = function() {
        anio.value = esNumero('anio_display');
        obtenerNumeroPlanillaPeriodo();
      }

      var tipoFunciSelect = document.getElementById('tipo_funci');
      tipoFunciSelect.addEventListener('change', function() {
        obtenerNumeroPlanillaPeriodo();
      });



      $('#objeto').select2({
          width: '100%'
      });
      $('#objeto').on('change', function(event) {
        var selectedValue = $(this).val();
        obtenerNumeroPlanillaPeriodo();
      });

        // Manejar el evento select2:select
        $('#objeto').on('select2:select', function (e) {
          var selectedValue = e.params.data.id;  // Obtiene el valor del elemento seleccionado
          //alert('Valor seleccionado: ' + selectedValue);  // Muestra una alerta con el valor seleccionado
          
          // Actualizar el select concepto con el nuevo valor de og
          $('#concepto').select2({
              width: '100%',
              ajax: {
                  url: '/concepto/nomina/filtrar/',
                  data: function(params) {
                      return {
                          og: selectedValue  // Usar el valor seleccionado en objeto como og
                      };
                  },
                  processResults: function(data) {
                      return {
                          results: data.map(item => ({
                              id: item.codigo,
                              text: item.concepto
                          }))
                      };
                  }
              }
          }).val(null).trigger('change');  // Resetear el valor seleccionado en concepto
      });
            



      

/*
      var select = $('#concepto');      
      select.empty(); 
*/





      $('#concepto').select2({
        width: '100%',
        ajax: {
            url: '/concepto/nomina/filtrar/',
            data: { og: 112 },  // Parámetro inicial 'og'
            processResults: function(data) {
                return {
                    results: data.map(item => ({
                        id: item.codigo,
                        text: item.concepto
                    }))
                };
            }
          }
      });     
    
/*
      $('#concepto').select2({
        width: '100%'
      });
      */
      $('#concepto').on('change', function(event) {
        var selectedValue = $(this).val();
        obtenerNumeroPlanillaPeriodo();
      });


      comboselect2('id_depende');
      mostrarContenido();

    };

  



    function obtenerNumeroPlanillaPeriodo() {

      
      // Obtener los valores de los campos
      var anio = document.getElementById('anio_display').value;
      var mes = document.getElementById('mes').value;
      var objeto = document.getElementById('objeto').value;
      var concepto = document.getElementById('concepto').value;
      var tipo_funci = document.getElementById('tipo_funci').value;;
     

      // URL generada desde Django
      var apiUrl  = "{% url 'periodo:generar_numero_planilla' %}";  
      var url = `${apiUrl}?anio=${anio}&mes=${mes}&objeto=${objeto}&concepto=${concepto}&tipo_funci=${tipo_funci}`;

      // Hacer la solicitud fetch
      fetch(url)
        .then(response => response.text())
        .then(data => {
            // Mostrar el resultado              
            document.getElementById('numero').value = `${data}`;    

            
            var mesElement = document.getElementById('mes');
            var mesSeleccionada = mesElement.options[mesElement.selectedIndex];



            var conceptoElement = document.getElementById('concepto');
            var conceptoSeleccionada = conceptoElement.options[conceptoElement.selectedIndex];


            document.getElementById('id_obs').value = 
              "planilla numero " +  document.getElementById('numero').value +
              " del objeto " + objeto +", año " + anio +", mes " + mesSeleccionada.text +                            
              (conceptoSeleccionada.value != '0' ? ", concepto " + conceptoSeleccionada.text : "")
            ;

        })
        .catch(error => {
            console.error('Error al obtener el número planilla:', error);
        });      
    }


  </script>

{% endblock %}
