{% extends 'main.html' %}
{% load static %}

{% block content %}
<div id="main_container" style="display:none">

  <div class="container">
          
    <h2 class="titulo">Detalles del Periodo de Liquidación</h2>   
    
    <form method="post" id="formulario" action="">

        {% include 'app/periodo/form_base.html' %} 

        <!-- Botón para ir a la lista-->
        <div style=" width: 50%; margin-left: 225px;">
        <a  href="{% url 'periodo:list' anio  %}" type="button" class="btn btn-outline-secondary" 
        id="lista">Ir a la lista</a>
        </div>


    </form>

  </div>
</div>
 
{% endblock %}





{% block extrascripts %}

  
  <script>
    window.onload = function() {

      

      mostrarContenido();
      bloquearCamposFormulario('formulario');


    };
</script>

{% endblock %}









    
