{% extends 'main.html' %}

  {% block content %}
  <div id="main_container" style="display:none,">

     <div class="container">

      <h2 class="titulo">Editar Periodo de Liquidación</h2>  

      
      <form method="post" id="formulario" action="">
  
        {% include 'app/periodo/form_base.html' %} 
  
        <div style="width: 50%; margin-left: 225px;"> 
                
        <a  href="{% url 'periodo:list' anio  %}" type="button" 
          class="btn btn-outline-secondary">Cancelar</a>  
          
        <button type="button" class="btn btn-primary" id="editar">Editar</button>
      </div>
  
      </form>
  

    </div>  


  </div>
  {% endblock %}





{% block extrascripts %}

  
  <script>
    window.onload = function() {


      function seleccion_tipo_funcionario() {
        var opcion_contratado = document.getElementById("chk_contratado");
        var opcion_permanente = document.getElementById("chk_permanente");
            
        if (opcion_contratado.checked) {          
          
          document.getElementById("id_contratado").value = 1;
          document.getElementById("id_permanente").value = 0;          
  
        } else if (opcion_permanente.checked) {
          document.getElementById("id_contratado").value = 0;
          document.getElementById("id_permanente").value = 1;
        }
      }
  





      document.getElementById('editar').addEventListener('click', function() {

        // Obtener los valores de anio 
        var anio = document.getElementById('anio_hidden').value;        

        // Construir la URL de redirección        
        var url = "{% url 'periodo:edit' registro.pk %}"

        // Asignar la URL al atributo action del formulario
        document.getElementById('formulario').action = url;

        // Enviar el formulario
        document.getElementById('formulario').submit();
    
      });
  


            
      const textboxes = document.querySelectorAll('#formulario input[type="text"]');  
      const campos = document.querySelectorAll('#formulario input[type="text"], #formulario input[type="number"], #formulario select');    
      campos.forEach(campo => {
        campo.disabled = true;
      });

      

      mostrarContenido();

    };
</script>

{% endblock %}




