{% csrf_token %}

    <div class="container">
        
    <div class="row">
        <div class="col-2 "></div>
        <div class="col-1 mb-4">
            <label for="id" class="form-label">ID:</label>
            <input type="text" name="id" id="id" value="{{ registro.id }}" class="form-control" required disabled>
        </div>

        <div class="col-2 mb-4"> 
            <label for="mes" class="form-label w-100">Seleccione el mes:</label>
            <select name="mes" id="mes" required class="form-select">
            <option value="1" {% if registro.mes == 1 %}selected{% endif %}>Enero</option>
            <option value="2" {% if registro.mes == 2 %}selected{% endif %}>Febrero</option>
            <option value="3" {% if registro.mes == 3 %}selected{% endif %}>Marzo</option>
            <option value="4" {% if registro.mes == 4 %}selected{% endif %}>Abril</option>
            <option value="5" {% if registro.mes == 5 %}selected{% endif %}>Mayo</option>
            <option value="6" {% if registro.mes == 6 %}selected{% endif %}>Junio</option>
            <option value="7" {% if registro.mes == 7 %}selected{% endif %}>Julio</option>
            <option value="8" {% if registro.mes == 8 %}selected{% endif %}>Agosto</option>
            <option value="9" {% if registro.mes == 9 %}selected{% endif %}>Septiembre</option>
            <option value="10" {% if registro.mes == 10 %}selected{% endif %}>Octubre</option>
            <option value="11" {% if registro.mes == 11 %}selected{% endif %}>Noviembre</option>
            <option value="12" {% if registro.mes == 12 %}selected{% endif %}>Diciembre</option>
            </select>
        </div>

        <div class="col-1 mb-4">
            <label for="anio" class="form-label">Año:</label>
            <input type="number" name="anio" id="anio_display" value="{{ anio }}" class="form-control" required>            
            <input type="hidden" name="anio_hidden" id="anio_hidden" value="{{ registro.anio }}">
        </div>
        
    </div>
    
    <input type="hidden"
        name="{{ form.contratado.name }}" 
        id="{{ form.contratado.id_for_label }}"
        class="form-control" 
        {% if form.contratado.value %}value="{{ form.contratado.value }}"{% endif %}
        {% if form.contratado.required %}required{% endif %}>

    
    <input type="hidden"
        name="{{ form.permanente.name }}" 
        id="{{ form.permanente.id_for_label }}"
        class="form-control" 
        {% if form.permanente.value %}value="{{ form.permanente.value }}"{% endif %}
        {% if form.permanente.required %}required{% endif %}>




    <div class="row">

        <div class="col-2 "></div>

        <div class="col-4 mb-4">
            <label for="tipo_funci" class="form-label vw-100">Tipo de funcionario:</label>            
            <select name="{{ form.tipo_funci.name }}" id="tipo_funci" class="form-select">
                <option value="1" {% if form.tipo_funci.value == 1 %}selected{% endif %}>Permanente</option>
                <option value="2" {% if form.tipo_funci.value == 2 %}selected{% endif %}>Contratado</option>
            </select>
        </div>


    
        <div class="col-md-1 mb-4">
            <label for="numero" class="form-label">Nro planilla:</label>
            <input type="{{ form.numero.field.widget.input_type }}" name="{{ form.numero.name }}" 
            id="{{ form.numero.name }}" class="form-control" {% if form.numero.value %}
            value="{{ form.numero.value }}"{% endif %} {% if form.numero.required %}required{% endif %}readonly>
        </div> 

    </div>


    <div class="row">
        <div class="col-2 "></div>
        <div class="col-8 mb-3">
            <label for="objeto" 
                class="form-label col-form-label">Objeto:</label>
                
            <select name="objeto" 
                id="objeto"
                class="form-control" >
                <option value="0">Seleccione un objeto de gasto</option>
                {% for objeto in objetos %}
                <option value="{{ objeto.codigo_objeto_gasto }}"
                    {% if objeto.codigo_objeto_gasto == obj %}selected{% endif %}>        
                    {{ objeto }}                                    
                </option>
                {% endfor %}
            </select>
        

        </div>
    </div>


    <div class="row">
        <div class="col-2 "></div>
        <div class="col-8 mb-3">
            <label for="concepto" 
                class="form-label col-form-label">Concepto:</label>

            <select name="concepto" 
                id="concepto"
                class="form-control"                    
                {% if form.concepto.required %}required{% endif %}>
                    {% for choice in form.concepto.field.choices %}
                        <option value="{{ choice.0 }}" 
                        {% if choice.0 == form.concepto.value %}selected{% endif %}>{{ choice.1 }}
                        </option>
                    {% endfor %}
            </select>

        </div>
    </div>    



    <div class="row">
        <div class="col-2 "></div>

        <div class="col-2 mb-4">
            <label for="cerrado" class="form-label">Proceso:</label>            
            <select name="{{ form.cerrado.name }}" id="{{ form.cerrado.id_for_label }}" class="form-select">
                <option value="0" {% if form.cerrado.value == 0 %}selected{% endif %}>Proceso activo</option>
                <option value="1" {% if form.cerrado.value == 1 %}selected{% endif %}>Proceso cerrado</option>
            </select>
        </div>

    </div>

    <div class="row">
        <div class="col-2 "></div>
        <div class="col-7 mb-4">
            <label for="obs" class="form-label">Observación:</label>

            <textarea 
                name="{{ form.obs.name }}" 
                rows="3"
                id="{{ form.obs.id_for_label }}"
                class="form-control" 
                {% if form.obs.required %}required{% endif %}
                >{{ form.obs.value|default_if_none:'' }}
            </textarea>
        </div>
    </div>

</div>