{% extends 'main.html' %}
   
{% block content %}
<div id="main_container" style="display:none">

    <div class="container mb-4">

        <h2 class="titulo">
            Mantenimiento de Periodo de Liquidación</h2>



            <div class="row">
                <div class="col-md-6 mb-3">
                    <a id="btm_nuevo_periodo"
                    href="#" 
                    type="button" 
                    class="btn btn-success">Nuevo</a> 
                </div> 
            </div>


        <div class="table-responsive mt-4">
            <table class="table table-striped">
            <thead>

                <tr>                
                      
                    <th>ID</th>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Planilla Nro.</th>                    
                    <th>Tipo de Funcionario</th>
                    <th>Observación</th>
                    <th>Proceso</th>


                    <th>Acciones</th>     
                                           
                    

                </tr>
            </thead>
            <tbody>
                {% for registro in lista %}
                    <tr>   
  
                        <td>{{ registro.id }}</td>
                        <td>{{ registro.anio }}</td>
                        <td>{{ registro.mes }}</td>
                        <td>{{ registro.numero }}</td>
                        <td>{{ registro.tipo_funci }}</td>
                        <td>{{ registro.obs }}</td>
                        <td>{{ registro.cerrado }}</td>

                        
                        <td>
                            <div  class="d-flex align-items-center">

                                <a href="{% url 'periodo:detail' registro.id %}" 
                                style="color: #08753f;"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Detalle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                  </svg>
                                </a>

                                <a href="{% url 'periodo:edit' registro.id %}" 
                                    style="color: #0099CC;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Editar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                                      </svg>
                                </a>

                                <a href="{% url 'periodo:delete' registro.id %}"
                                    onclick="return confirm('¿Estás seguro?')"
                                    style="color: red;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Eliminar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-danger" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg>
                                </a>
                            </div>   
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    


        

        {% if cantidad_registros == 0 %}        
        <div class="alert alert-warning" role="alert">
            No se encontraron registros    
        </div>
        {% else %}
        

        <div class="pagination mt-3">
            <ul class="pagination">
                {% if lista.has_previous %}
                <li class="page-item">
                    <a href="?page=1 {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> &laquo; &nbsp;primero&nbsp;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ lista.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">anterior &nbsp;</a>
                </li>    
                {% endif %}

                <li class="page-item disabled">
                <span class="page-link">
                    Página {{ lista.number }} de {{ lista.paginator.num_pages }}.
                </span>
                </li>

                {% if lista.has_next %}
                <li class="page-item">
                    <a href="?page={{ lista.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&nbsp;siguiente &nbsp;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ lista.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">ultimo&nbsp;&raquo;</a>
                </li>    
                {% endif %}
            </ul>    
        </div>


        {% endif %}







    </div>

</div>    
{% endblock %}


{% block extrascripts %}

  <script>
    window.onload = function() {



        document.getElementById("btm_nuevo_periodo").addEventListener("click", function() {
            let url = "{% url 'periodo:create' anio %}";  // URL de destino
            
            fetch(url, { method: "GET" }) 
            .then(response => {

                if (response.status === 403) {
                    return response.json().then(data => {                        
                        mostrarModalError(data.error); 
                    });
                }
                window.location.href = url;  // Si no hay error, redirigir
            })
            .catch(error => console.error("Error:", error));
        });



/*
        document.getElementById('busqueda_cabecera').addEventListener('click', function() {
            // Obtener los valores del formulario
            var anio = document.getElementById('anio').value;                        

            // Construir la URL con los parámetros    
            var url = '{% url "marcacion_detalle:list" %}' + "/"+anio
            if (buscar.trim() !== '') {
                url +=  '?page=1' + '&q=' + encodeURIComponent(buscar);
            } 
            // Redireccionar a la URL construida
            window.location.href = url;

        });
    

        
*/
        mostrarContenido();

    };
</script>

{% endblock %}