body{
    font-family: 'Poppins', sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10px; /* Altura de la barra de navegación fija */
    background-image: url(/static/img/bg1_1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

/* Estilo para el encabezado (head)
header {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: large;
} */

/* Estilo para la barra de navegación 
nav {
    
  background-color: #EF4444; /* Color rojo pálido 

    border-bottom: 5px solid #ffffff; /* Borde inferior más rojo con 5px de grosor 
    
}


.navbar-brand img {
    max-width: 60px; /* Tamaño del logo 
    margin-right: 10px; /* Espaciado entre la imagen y el texto 
}

/* .navbar-light .navbar-toggler-icon {
    background-color: white; Color del icono del botón de hamburguesa a blanco
}

/* .navbar-toggler {
    border-color: white; Color del borde del botón de hamburguesa a blanco 
}

.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s; /* Efecto de transición en el cambio de color 
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Cambiar el color al pasar el mouse sobre los enlaces 
}

.navbar-nav .nav-item.dropdown:hover .nav-link {
    color: #f8f9fa; /* Cambiar el color del enlace en el despliegue del menú desplegable 
}*/



/*  agregado hugo enero 2024  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{  
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;    
}

html{
    height:100%;  
    font-size: 0.92rem;
    
  }

  body{
    padding: 0;
    
  }
  /*header{
    padding: 0;
  }

  #header_logo{
    height: 30px;
  }

  header{
    font-size: 1rem;
  }

  /*.navbar-brand{
    font-size: 1rem;
  }*/

  table{
    font-size: 0.86rem;
       
  }

  .btn{
    width: 120px;
  }

  form {
    font-size: 0.96rem;
  }

  

  .form-label {
    font-family: Tahoma; 

    width: 120px;
    font-weight: bold; /* Para hacer que el texto sea negrita */

    color:  rgb(7, 7, 7);   /* Cambiar el color del texto (en este caso, rojo) */

    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    font-size: 0.76rem;    

    display: flex;
    align-items: center;

    white-space: nowrap; /* Evita el salto de línea */
    /*overflow: hidden; /* Oculta el texto que sobrepase el ancho */
    /*text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es muy largo */
}

  /* tamaño ancho*/

  .an20{
    width: 200px;
  }

  /*.contenedor{
    margin: 250px;
    display:inline-block;
    justify-content: center;
    align-items: center;

  }*/


/* Para Chrome, Safari, Edge y Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.titulo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'Playfair Display', serif;   
  font-size: 2rem;
            color: #333;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
            animation: fadein 2s;
}
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/*Estilo efecto letras*/
.contenido{
  height: auto;
  width: 100%;
  display: flex;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
}

.ul1, .p1{
  margin: 0;
  padding-left: 10px;
}

.p1{
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}

.ul1{
  list-style-type:none;
  animation: movimiento 8s infinite;
  }

.ul1, .li1{
  background-image: linear-gradient(90deg, #900c3f, #f8de22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 10px;
  letter-spacing: 1px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  }

.li1{
  white-space: nowrap;
    }

  @keyframes movimiento{
    0% { margin-top: 0; }
    20% { margin-top: 0; }
    25% { margin-top: -40px; }
    50% { margin-top: -40px; }
    55% { margin-top: -80px; }
    80% { margin-top: -80px; }
    85% { margin-top: -40px; }
    95% { margin-top: -40px; }
    100% { margin-top: 0; }
  }

  /*estilos menu nuevo */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

header{
  background: #FF3333;/*#4B74AA;*/
  padding: 5px;
  border-bottom: #ffffff solid 10px;
  opacity: 0.7;
}

header h1{
  color: white;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}


nav ul{
  margin: 5px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;  
  
}


nav ul li{
  position: relative; /* cualquier etiqueta adentro de este LI que sea absolute, va a usar el top, bottom, left y right de este LI como referencia */
}

nav ul li a{
  font-size: 18px;
  line-height: 18px;
  display: block;
  padding: 6px 15px;
  /*background: white;*/
  color: #ffffff;
  text-decoration: none;
}

nav ul ul{
  flex-direction: column;
  gap: 0;
  margin: 0;
  position:absolute;
  top: 28px;
  left: 0;
  display: none;
}

nav ul li:hover ul{
  display: flex;
  background-color: #000000;
}

/*nav ul li:hover ul ul{
  display: none; 
  position: static;
  height: 0px;
  overflow: hidden;
  transition: height .75s;
}*/
/*corresponde al de arriba*/

nav ul li:hover ul ul{
  display: none;
}

nav ul li ul li{
  width: 300px;
}

/*nav ul li:hover ul li#boni:hover ul{
  height: calc( 28px * 3 ) ;
}

nav ul li:hover ul li#rera:hover ul{
  height: calc( 28px * 2 ) ;
}*/
/*corresponde al de arriba*/
nav ul li:hover ul li:hover ul{
  display: flex;
  top: 0;
  left: 300px;
}

nav ul ul a{
  background: /*#CB4335;*/#1C501F; 
  color: white;
  
}
nav ul ul ul a{
  background: /*#E74C3C;*/#0D270D;
  color: white;
}

nav a:hover{
  background-color: #333;
  border-radius: 3px;
}
/*
nav ul li ul li{
  width: 275px;
}

nav ul li:hover ul li:hover ul{
  display: flex;
}*/

nav ul li a img{  
display: none;
}

nav ul li a:hover img{  
  display: inline;
  transform: rotate(270deg);
}
