
{% load humanize %} 

<table class="table table-striped">
    <thead>
        <tr>                
            <th class="text-center">cedula</th>
            <th class="text-center">nombre</th> 
            <th class="text-center">devengado</th>                    
            <th class="text-center">jubilacion</th>                    
            <th class="text-center">liquido</th>                    
            <th class="text-center">estado</th> 
        </tr>
    </thead>
    <tbody>
        {% for registro in lista %}
            <tr>
                
                <td class="text-end">{{ registro.cedula|intcomma }}</td>

                <td>{{ registro.nombre }}</td> 
                                
                <td class="text-end">{{ registro.devengado|intcomma }}</td>
                <td class="text-end">{{ registro.jubilacion|intcomma }}</td>
                <td class="text-end">{{ registro.liquido|intcomma }}</td>

                <td>{{ registro.estado}}</td>  
            </tr>
        {% endfor %}
    </tbody>
</table>


