
{% load humanize %} 


<table class="table table-striped">
    <thead>

        <tr>                

            <th>cedula</th>                    
            <th>nombre</th>
            
            <th>expediente</th>
            <th>presupuestado</th>
            <th>asignacion</th>

            
            <th>jubilacion</th>
            <th>liquido</th>


            {% if estado_periodo == 'Cerrado' %}
                <th>imputacion</th>  
            {% else %}
                <th>estado</th>  
            {% endif %}            

                               

        </tr>
    </thead>
    <tbody>        
        {% for registro in lista %}
            <tr>
                
                
                <td class="text-end">{{ registro.cedula|intcomma }}</td>

                <td>{{ registro.nombre }}</td>  
                <td>{{ registro.expediente }}</td>  

                <!-- Usar intcomma para formatear números con comas como separadores de miles -->
                <td class="text-end">{{ registro.presupuesto|intcomma }}</td>
                <td class="text-end">{{ registro.devengado|intcomma }}</td>
                
                <td class="text-end">{{ registro.jubilacion|intcomma }}</td>
                <td class="text-end">{{ registro.liquido|intcomma }}</td>
                
                
                {% if estado_periodo == 'Cerrado' %}
                    <td>{{ registro.imputacion }}</td>                         
                {% else %}
                    <td>{{ registro.estado }}</td>                         
                {% endif %}            


                

            </tr>
        {% endfor %}
    </tbody>

</table>

