{% extends 'main.html' %}
   
{% block content %}
<div id="main_container" style="display:none">

    <div class="container mb-4">


        <h2 class="titulo" >
            Beneficios Funcionarios - Planilla de Liquidacion</h2>

            <form method="get" id="formulario" acction="#" class="mt-3">

            
                <div class="row">

                    <div class="col-xl-1 col-lg-2 col-md-3 col-sm-3 col-5  mb-3">
                        <label for="anio" class="form-label">Año:</label>        
                        <input type="text" name="anio" id="anio" value="{{ anio }}" required class="form-control">
                    </div>
            
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-5 mb-3"> 
                        <label for="mes" class="form-label w-100">Seleccione el mes:</label>
                        <select name="mes" id="mes" required class="form-select">
                        <option value="1" {% if mes == 1 %}selected{% endif %}>Enero</option>
                        <option value="2" {% if mes == 2 %}selected{% endif %}>Febrero</option>
                        <option value="3" {% if mes == 3 %}selected{% endif %}>Marzo</option>
                        <option value="4" {% if mes == 4 %}selected{% endif %}>Abril</option>
                        <option value="5" {% if mes == 5 %}selected{% endif %}>Mayo</option>
                        <option value="6" {% if mes == 6 %}selected{% endif %}>Junio</option>
                        <option value="7" {% if mes == 7 %}selected{% endif %}>Julio</option>
                        <option value="8" {% if mes == 8 %}selected{% endif %}>Agosto</option>
                        <option value="9" {% if mes == 9 %}selected{% endif %}>Septiembre</option>
                        <option value="10" {% if mes == 10 %}selected{% endif %}>Octubre</option>
                        <option value="11" {% if mes == 11 %}selected{% endif %}>Noviembre</option>
                        <option value="12" {% if mes == 12 %}selected{% endif %}>Diciembre</option>
                        </select>
                    </div>


            


                </div>



                

                <div class="row">
                    <div class="col-8 mb-3">
                        <label for="objeto" 
                            class="form-label col-form-label">Objeto:</label>
                            
                            <select name="objeto" 
                                id="objeto"
                                class="form-control" >
                                <option value="0">Seleccione un objeto de gasto</option>
                                {% for objeto in objetos %}
                                <option value="{{ objeto.codigo_objeto_gasto }}"
                                    {% if objeto.codigo_objeto_gasto == obj %}selected{% endif %}>        
                                    {{ objeto }}                                    
                                </option>
                                {% endfor %}
                            </select>

                    </div>
                </div>
    



                <div class="row">
                    <div class="col-8 mb-3">
                        <label for="concepto" class="form-label col-form-label">Concepto:</label>
                
                        <select name="concepto" id="concepto" class="form-control">
                            <option value="0">Seleccione un concepto</option>
                            {% for concepto in conceptos %}
                                <option value="{{ concepto.codigo_concepto_nomina }}"
                                    {% if concepto.codigo_concepto_nomina == concepto_id %}selected{% endif %}>
                                    {{ concepto }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                



    
                <div class="row">



                    <div class="col-10 mb-3">
                        <label for="periodo" class="form-label col-form-label">Periodo:</label>
                    
                        <select name="periodo" id="periodo" class="form-control">                            
                            <option value="0">Seleccione un Periodo</option>
                            {% if periodo_seleccionado %}  <!-- Verifica si hay un periodo seleccionado -->
                                <option value="{{ periodo_seleccionado.id }}" selected>  <!-- Marca como seleccionado -->
                                    {{ periodo_seleccionado.obs }}
                                </option>
                            {% endif %}
                        </select>      
                    </div>
                    


                    
                    <div class="col-xl-2 col-lg-2 col-md-5 col-sm-5 col-5 mb-3">
                        <label for="estado" class="form-label">Estado:</label>        
                        <input type="text" 
                               name="estado" 
                               id="estado"                         
                               class="form-control"
                               value="{{ estado_periodo|default:'' }}"  
                               disabled>
                    </div>

                    

                </div>



                <div class="row">

                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">                        
                            <input type="text" class="form-control" 
                                id = "buscar"
                                value="{{ cedula|default:'' }}" 
                                placeholder="Buscar por ci."
                                style="width: 50%;">

                                <button class="btn btn-primary" type="button" 
                                id="busqueda_cabecera">Buscar</button>
                        </div>
                    </div>                         

                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">                        
                            
                            <a href="{% url 'bonificacion_permanente_pagada:list' %}" 
                            class="btn btn-secondary" id="busqueda_cabecera">
                                Limpiar
                            </a>

                        </div>
                    </div>                      


                    <div class="col-md-4 mb-3">

                        <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" 
                            data-bs-toggle="dropdown" aria-expanded="false">
                              Reporte
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" 
                                    type="button" id="reporte_pdf">PDF</button>
                                </li>                          
                            </ul>    
                        </div>

                    </div>                      


                </div>



            </form>
    


            <h6>Concepto: {{ concepto_id }}</h6> <!-- Muestra el valor de "concepto" -->



            <div class="table-responsive mt-4">


            {% if concepto_id|stringformat:"s" == '1113000' %}
                {% include 'app/bonificacion_permanente_pagada/detalle_113_1113000.html' %}    
            {% elif concepto_id|stringformat:"s" == '1133010' %}
                {% include 'app/bonificacion_permanente_pagada/detalle_133_1133010.html' %}
            {% elif concepto_id|stringformat:"s" == '1133030' %}
                {% include 'app/bonificacion_permanente_pagada/detalle_133_1133030.html' %}
            {% elif concepto_id|stringformat:"s" == '1133040' %}
                {% include 'app/bonificacion_permanente_pagada/detalle_133_1133040.html' %}
            {% else %}
                <p>No encontrado</p>
            {% endif %}
                            

            </div>
            


        

        {% if cantidad_registros == 0 %}        
        <div class="alert alert-warning" role="alert">
            No se encontraron registros    
        </div>
        {% else %}
        


        <div class="pagination mt-3">
            <ul class="pagination">
                {% if lista.has_previous %}
                <li class="page-item">
                    <a href="?page=1 {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> &laquo; &nbsp;primero&nbsp;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ lista.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">anterior &nbsp;</a>
                </li>    
                {% endif %}

                <li class="page-item disabled">
                <span class="page-link">
                    Página {{ lista.number }} de {{ lista.paginator.num_pages }}.
                </span>
                </li>

                {% if lista.has_next %}
                <li class="page-item">
                    <a href="?page={{ lista.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&nbsp;siguiente &nbsp;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ lista.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">ultimo&nbsp;&raquo;</a>
                </li>    
                {% endif %}
            </ul>    
        </div>

        {% endif %}





        <!-- Combo select para procesos -->
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <form id="processForm" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="processSelect">Proceso:</label>
                            <select id="processSelect" class="form-control">
                                <option value="0">Seleccione un proceso</option>
                                <!-- Opciones generadas dinámicamente -->
                                {% for proceso in procesos %}
                                <option value="{{ proceso.proceso }}">{{ proceso.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button id="btn_ejecutar_proceso" class="btn btn-primary btn-block">Ejecutar</button>
                </div>

                <!-- Nuevo input de imputación -->
                <div  id="bloque_imputacion" style="display: none;">
                    <div class="col-md-4 d-flex align-items-end">
                        
                        <div class="form-group w-100">
                            <label for="imputacion">Imputación:</label>
                            <input type="text" 
                                id="imputacion"     
                                class="form-control" 
                                name="imputacion"   >
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>    
{% endblock %}


{% block extrascripts %}

  <script>

    var periodo_id = 0;

    window.onload = function() {

    


        // Obtener el valor inicial del select al cargar la página
        var selectElement = document.getElementById('periodo');
        if (selectElement) {
            periodo_id = selectElement.value;  // Asignar el valor predeterminado
        }
        

        

        var busqueda_cabecera = document.getElementById('busqueda_cabecera');
        busqueda_cabecera.addEventListener('click', function() {

            /*
            // Obtener los valores del formulario
            var anio = document.getElementById('anio').value;
            var mes = document.getElementById('mes').value;

            var objeto = document.getElementById('objeto').value;
            var concepto = document.getElementById('concepto').value;


            //var buscar = document.getElementById('buscar').value;
            var buscar = ""

            // Construir la URL con los parámetros    
            var url = '{% url "bonificacion_permanente:list" %}' + ""+anio+"/"+mes+"/"+objeto+"/"+concepto
            
            if (buscar.trim() !== '') {
                url +=  '?page=1' + '&q=' + encodeURIComponent(buscar);
            } 

            window.location.href = url;
            */
            alert("falta agregar codigo")

        });
    






        

        $('#concepto').select2({
            width: '100%'
        });

        $('#periodo').select2({
            width: '100%'
        });


        var selectObjeto = document.getElementById('objeto');        
        $(selectObjeto).select2({
            width: '100%'
        });            

        
        // Manejar el evento select2:select
        $(selectObjeto).on('select2:select', function (e) {
            var selectedValue = e.params.data.id;  // Obtiene el valor del elemento seleccionado
            //alert('Valor seleccionado: ' + selectedValue);  // Muestra una alerta con el valor seleccionado
            
            // Actualizar el select concepto con el nuevo valor de og
            $('#concepto').select2({
                width: '100%',
                ajax: {
                    url: '/concepto/nomina/filtrar/',
                    data: function(params) {
                        return {
                            og: selectedValue  // Usar el valor seleccionado en objeto como og
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: data.map(item => ({
                                id: item.codigo,
                                text: item.concepto
                            }))
                        };
                    }
                }
            }).val(null).trigger('change');  // Resetear el valor seleccionado en concepto
        });
        

            
        // Manejar el evento change para el select concepto
        $('#concepto').on('change', function() {
            MostrarPeriodoFiltro( );
        });
       

        document.getElementById('anio').addEventListener('change', function() {
            MostrarPeriodoFiltro();  
        });
        document.getElementById('mes').addEventListener('change', function() {            
            MostrarPeriodoFiltro( );
        });




        // Manejar el evento de clic del botón
        document.getElementById('btn_ejecutar_proceso').addEventListener('click', function() {

            var selectedProcess = document.getElementById('processSelect').value;
            

            // Asignar el valor de selectedProcess a un campo oculto en el formulario
            var hiddenProcessInput = document.createElement('input');
            hiddenProcessInput.type = 'hidden';
            hiddenProcessInput.name = 'selected_process';  // Nombre del campo en el formulario
            hiddenProcessInput.value = selectedProcess;
            

            // Crear campos ocultos para anio y mes
            var hiddenPerdiodoInput = document.createElement('input');
            hiddenPerdiodoInput.type = 'hidden';
            hiddenPerdiodoInput.name = 'periodo';  // Nombre del campo en el formulario
            hiddenPerdiodoInput.value = periodo_id;


            // Obtener el formulario y agregar los campos ocultos
            var form = document.getElementById('processForm');
            form.appendChild(hiddenProcessInput);
            form.appendChild(hiddenPerdiodoInput);
    


            
            // Verificar si el valor del select es 3
            if (selectedProcess === "3") {
                // Obtener el valor de imputación
                var imputacionValue = document.getElementById('imputacion').value;

                // Crear un campo oculto para imputación y añadirlo al formulario
                var hiddenImputacionInput = document.createElement('input');
                hiddenImputacionInput.type = 'hidden';
                hiddenImputacionInput.name = 'imputacion';  // Nombre del campo en el formulario
                hiddenImputacionInput.value = imputacionValue;


                if (imputacionValue.trim() === "") { 
                    // Si el valor está vacío, mostrar alerta y cancelar
                    alert("El valor de imputación está vacío");
                    return; // Salir de la función y no continuar
                }                


                // Añadir el campo oculto de imputación al formulario
                var form = document.getElementById('processForm');
                form.appendChild(hiddenImputacionInput);
            }
            




            form.action = '{% url "procesos:generar_liquidacion_perdiodo" %}';
            form.submit();


        });        




        var reporte_pdf = document.getElementById('reporte_pdf');
        reporte_pdf.addEventListener('click', function() {


            // Obtener el valor seleccionado
            var conceptoSeleccionado = $('#concepto').val();
            

            // Mostrar el resultado
            console.log("concepto:  ", conceptoSeleccionado);            



            var select = document.getElementById('periodo');
            var valorSeleccionado = select.value; 
            
                    
            if (conceptoSeleccionado == 1113000) {

                // Construir la URL dinámicamente asegurando el puerto
                var baseURL = window.location.protocol + "//" + window.location.hostname + ":8080";
                var url = baseURL + "/sueldosbeneficiosreportes/liquidacion_113_1113000.pdf?periodo=" + valorSeleccionado;
                
                // Abrir en una nueva pestaña
                window.open(url, '_blank');


            }



            if (conceptoSeleccionado == 1133010) {

                // Construir la URL dinámicamente asegurando el puerto
                var baseURL = window.location.protocol + "//" + window.location.hostname + ":8080";
                var url = baseURL + "/sueldosbeneficiosreportes/liquidacion_133_1133010.pdf?periodo=" + valorSeleccionado;

                // Abrir en una nueva pestaña
                window.open(url, '_blank');


            }



            if (conceptoSeleccionado == 1133030) {

                // Construir la URL dinámicamente asegurando el puerto
                var baseURL = window.location.protocol + "//" + window.location.hostname + ":8080";
                var url = baseURL + "/sueldosbeneficiosreportes/liquidacion_133_1133030.pdf?periodo=" + valorSeleccionado;

                // Abrir en una nueva pestaña
                window.open(url, '_blank');

            }


            
            if (conceptoSeleccionado == 1133040) {

                // Construir la URL dinámicamente asegurando el puerto
                var baseURL = window.location.protocol + "//" + window.location.hostname + ":8080";
                var url = baseURL + "/sueldosbeneficiosreportes/liquidacion_133_1133040.pdf?periodo=" + valorSeleccionado;

                // Abrir en una nueva pestaña
                window.open(url, '_blank');

            }







        });



        document.getElementById('processSelect').addEventListener('change', function() {
            let selectedValue = this.value; // Obtiene el valor seleccionado
            //const bloqueImputacion = document.getElementById('bloque_imputacion');

            if (selectedValue === "3") {
                // Muestra el bloque de imputación si el valor es "3"
                document.getElementById('bloque_imputacion').style.display = "block";
            } else {
                // Oculta el bloque de imputación si el valor no es "3"
                document.getElementById('bloque_imputacion').style.display = "none";
            }

        });



        mostrarContenido();

    };




    function MostrarPeriodoFiltro() {

        var anio = document.getElementById('anio').value;  
        var mes = document.getElementById('mes').value; 
        // Obteniendo los valores de los select con select2
        var objeto = $('#objeto').val();  // Usar .val() para obtener el valor seleccionado de select2 (objeto)
        var concepto = $('#concepto').val();  // Usar .val() para obtener el valor seleccionado de select2 (concepto)


        /*
        var url = `/periodo/filtrar/?anio=${anio}&mes=${mes}&objeto=${objeto}&concepto=${concepto}`;    
        console.log("URL generada: " + url);
        */



        // Limpiar el select antes de cargar nuevos datos
        $('#periodo').empty().trigger('change');

        $('#periodo').select2({
            width: '100%',
            ajax: {
                url: '/periodo/filtrar/',
                data: function(params) {
                    return {
                        anio: anio,       // Año proporcionado a la función
                        mes: mes,         // Mes proporcionado a la función
                        objeto: objeto,   // Objeto proporcionado a la función
                        concepto: concepto, // Concepto proporcionado a la función
                        search: params.term  // Término de búsqueda del usuario en el select
                    };
                },
                processResults: function(data) {
                    return {
                        results: data.map(item => ({
                            id: item.id,         // Aquí el ID de cada opción
                            text: item.obs       // Aquí el texto (obs) que se mostrará en el select
                        }))
                    };
                }
            },
            placeholder: 'Selecciona un periodo',
            allowClear: true
        });




        $('#periodo').on('change', function() {
            var selectedId = $(this).val();  // Obtener el id del registro seleccionado
            console.log("ID del periodo seleccionado: " + selectedId);  // Mostrar en consola

            // Si el valor del id es null o vacío, asignar 0
            if (!selectedId) {
                selectedId = 0;
            }
        
            // Verificar si selectedId es diferente de periodo_id y diferente de 0
            if (selectedId != periodo_id && selectedId != 0) {
                //alert(selectedId);  // Mostrar el id solo si cumple las condiciones
                
                const basePath = "/bonificacion_permanente_pagada/list/"; // URL fija
                window.location.href = basePath + selectedId;
            }

            // Actualizar periodo_id con el nuevo valor seleccionado
            periodo_id = selectedId;

        });




        




    }
    



</script>

{% endblock %}


