{% extends 'main.html' %}

{% block content %}

<div id="main_container" style="display:none">

  <div class="container-fluid"> 
    
    <div class="row">
      <h2 class="titulo">Agregar Pedido de Bonificación</h2>
    </div> 
           

  <div class="row">
    <div class="col-3 mb-3"></div>
    <div class="col-8 mb-3">
    <form method="post" id="formulario" action="">


      {% include 'app/bonificacion_pedido/form_base.html' %} 

    </form>
    </div>  
  </div>  


    <div class="row">
      <div class="col-3 mb-3" style="margin-left: 24px;"></div> 
    
          <button type="button" id="cancelar" class="btn btn-outline-secondary" >Cancelar</button>

          <button type="button" id="agregar" class="btn btn-primary" style="margin-left: 5px;">Agregar</button>

    </div>  

  </div>   
  
</div> 
{% endblock %}





{% block extrascripts %}

  <script>

  

    window.onload = function() {



      document.getElementById('row_cargo113').style.display = 'none';
      document.getElementById('row_tipo_cargo').style.display = 'none';

      document.getElementById('row_decreto').style.display = 'none';
      document.getElementById('row_fecha').style.display = 'none';

      
      

      // filtrar trabajador por cedula  
      var nombreInput = document.getElementById('id_nombre');
      nombreInput.disabled = true;

      var cedulaInput = document.getElementById('id_cedula');
      cedulaInput.addEventListener('blur', function() {
          
        var cedula = cedulaInput.value.trim();
        
        // Realizar la solicitud AJAX
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/trabajador/nombre/' + cedula + '/');
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);

                if (response.nombre) {                  
                    nombreInput.value =response.nombre; 
                }
            } 
            else if (xhr.status === 404) {              
                nombreInput.value = ""; 
            }
        };
        xhr.send();
      });  


       

      comboselect2('cinsti');


      comboselect2_cargos('ccargo')



      var cargo113 = document.getElementById("cargo113");
      $(cargo113).select2({
          width: '100%',          
      });




      var objetoElement = document.getElementById("objeto");
      $(objetoElement).select2({
          width: '100%',
          minimumResultsForSearch: -1 // Deshabilita la búsqueda
      });










      /*
      // Agrega un controlador de eventos para el cambio de valor del select
      $(objetoElement).on('change', function() {
          // Obtiene el valor seleccionado
          var selectedValue = $(this).val();          
          var objetoId = selectedValue;

          if (objetoId) {
            const conceptoSelect = document.getElementById('concepto');            
            fetch('/concepto/objeto/'+objetoId)        
            .then(response => response.json())
            .then(data => {
    
                // Limpia las opciones actuales del select
                conceptoSelect.innerHTML = '';

                // Itera sobre los datos recibidos y crea opciones para el select de conceptos
                data.forEach(item => {    
                  var option = document.createElement('option');
                  option.value = item.id_concepto_nomina;
                  //option.text = item.concepto;              
                  option.text = item.codigo_concepto_nomina + ' - ' + item.concepto; 
                  conceptoSelect.appendChild(option);    
                });
            })                
            .catch(error => {
                console.error('Error:', error);
            });                  
          }
      });
*/


        //comboselect2('cinsti');
        var selectObjeto = document.getElementById('objeto');        
        $(selectObjeto).select2({
            width: '100%',
            minimumResultsForSearch: -1
        });   


        // Manejar el evento select2:select
      $(selectObjeto).on('select2:select', function (e) {
        var selectedValue = e.params.data.id;  // Obtiene el valor del elemento seleccionado
          


          if (selectedValue == 113) {
            document.getElementById('row_cargo113').style.display = 'block';
            document.getElementById('row_tipo_cargo').style.display = 'none';     
            document.getElementById('row_decreto').style.display = 'flex';

          } else if (selectedValue == 133) {
            
            document.getElementById('row_cargo113').style.display = 'none';
            document.getElementById('row_tipo_cargo').style.display = 'flex';            
            document.getElementById('row_decreto').style.display = 'flex';
          } else {
            document.getElementById('row_cargo113').style.display = 'none';
            document.getElementById('row_tipo_cargo').style.display = 'none';            
            document.getElementById('row_decreto').style.display = 'none';
          }





          // Actualizar el select concepto con el nuevo valor de og
          $('#concepto').select2({
              width: '100%',
              ajax: {
                  url: '/concepto/nomina/filtrar/',
                  data: function(params) {
                      return {
                          og: selectedValue  // Usar el valor seleccionado en objeto como og
                      };
                  },
                  processResults: function(data) {
                      return {
                          results: data.map(item => ({
                              id: item.codigo,
                              text: item.concepto
                          }))
                      };
                  }
              }
          }).val(null).trigger('change');  // Resetear el valor seleccionado en concepto
      });





      // Evento cuando se selecciona un elemento
      $('#concepto').on('select2:select', function (e) {
          var conceptoData = e.params.data.id.toString(); 
          //console.log(conceptoData);  // Muestra el objeto seleccionado en consola

          // Condiciones según el valor de conceptoData
          if (conceptoData === '1133010') {
              // Si es igual a '1133010', hacer algo
              console.log('Acción para 1133010');

              document.getElementById('row_decreto').style.display = 'flex';
              document.getElementById('row_tipo_cargo').style.display = 'flex';  
              document.getElementById('row_fecha').style.display = 'none';  

              

          } else if (conceptoData === '1133020') {
              // Si es igual a '1133020', hacer otra cosa
              console.log('Acción para 1133020');
              
              document.getElementById('row_decreto').style.display = 'none';
              document.getElementById('row_tipo_cargo').style.display = 'none';  
              document.getElementById('row_fecha').style.display = 'flex';  

          } else if (conceptoData === '1133030') {
              // Si es igual a '1133030', hacer otra cosa
              console.log('Acción para 1133030');
              
              document.getElementById('row_decreto').style.display = 'none';
              document.getElementById('row_tipo_cargo').style.display = 'none';  
              document.getElementById('row_fecha').style.display = 'flex';            
          } else if (conceptoData === '1133040') {
              // Si es igual a '1133030', hacer otra cosa
              console.log('Acción para 1133030');
              
              document.getElementById('row_decreto').style.display = 'none';
              document.getElementById('row_tipo_cargo').style.display = 'none';  
              document.getElementById('row_fecha').style.display = 'flex';  
          }


      });



      document.getElementById('agregar').addEventListener('click', function() {
        // Obtener los valores de anio y mes del formulario
        var anio = document.getElementById('anio_hidden').value;
        
        // Construir la URL de redirección            
        var url = "{% url 'bonificacion_pedido:create' anio %}"
    
        // Asignar la URL al atributo action del formulario
        document.getElementById('formulario').action = url;

        // Enviar el formulario
        document.getElementById('formulario').submit();       
      });




      document.getElementById('cancelar').addEventListener('click', function() {
        var url = "{% url 'bonificacion_pedido:list' %}"
        window.location.href = url;
      });





      document.getElementById('tipo_cargo').addEventListener('change', function() {
          const selectedValue = this.value; // Obtiene el valor seleccionado

          if (selectedValue) {
              const url = `${window.location.origin}/tipo_cargo/filtrar/${selectedValue}`; // Construye la URL

              fetch(url)
                  .then(response => {
                      if (!response.ok) {
                          throw new Error('Error en la solicitud');
                      }
                      return response.json();
                  })
                  .then(data => {
                      console.log('Datos recibidos:', JSON.stringify(data));

                      if (data.tipo_cargo === 6 || data.tipo_cargo === 8) {
                          document.getElementById('id_presupuestado').disabled = false; // Habilitar el campo
                      } else {
                          document.getElementById('id_presupuestado').disabled = true; // Deshabilitar el campo
                      }

                      document.getElementById('id_presupuestado').value = data.presupuestado;

                      // Si el campo está deshabilitado y no se envía al servidor, puedes agregarlo al formulario de manera manual antes de enviarlo:
                      if (document.getElementById('id_presupuestado').disabled) {
                          let hiddenInput = document.createElement('input');
                          hiddenInput.type = 'hidden';
                          hiddenInput.name = 'presupuestado'; // Asegúrate de que el nombre coincida con el campo en el formulario
                          hiddenInput.value = data.presupuestado;
                          document.forms[0].appendChild(hiddenInput); // Añádelo al formulario
                      }

                  })
                  .catch(error => {
                      console.error('Error:', error);
                  });
          }
      });



      mostrarContenido();

    };
</script>

{% endblock %}

