{% extends 'main.html' %}
{% load static %}

{% block content %}
<div id="main_container" style="display:none">

  <div class="container-fluid">
          
    
    <h2 class="titulo">Detalles de Pedidos de Bonificación</h2>        
    <div class="row">
      <div class="col-3 mb-3"></div>
      <div class="col-9 mb-3">
    <form method="post" id="formulario" action="">

        {% include 'app/bonificacion_pedido/form_base.html' %} 

         

        <!-- Botón para ir a la lista-->
        <div style=" width: 50%; margin-left: 61px;">
          <a  href="{% url 'bonificacion_pedido:list' anio form.objeto.value form.concepto.value %}" 
            type="button" 
            class="btn btn-outline-secondary" 
            id="lista">Ir a la lista</a>
        </div>



    </form>
    </div>
    </div>

  </div>
</div>
 
{% endblock %}





{% block extrascripts %}

  
  <script>
    window.onload = function() {


      document.getElementById('row_cargo113').style.display = 'none';
      document.getElementById('row_cargo').style.display = 'none';
      // Obtiene el elemento select por su ID
      var selectElement = document.getElementById("objeto");
      // Obtiene el valor seleccionado
      var objdValue = selectElement.value;
      if (objdValue == 113) {        
        document.getElementById('row_cargo113').style.display = 'block';        
      }
      else {        
        document.getElementById('row_cargo').style.display = 'block';        
      }



      mostrarContenido();

      bloquearCamposFormulario('formulario');


    };
</script>

{% endblock %}









    
