{% extends 'main.html' %}

  {% block content %}
  <div id="main_container" style="display:none,">

     <div class="container-fluid">
              
        
      <div class="row">
        <h2 class="titulo">Editar Pedidos de Bonificación</h2> 
      </div>       


      <div class="row"> 
      <div class="col-3 mb-3"></div>  
      <div class="col-9 mb-3">
      <form method="post" id="formulario" action="">
  
        {% include 'app/bonificacion_pedido/form_base.html' %} 

      </form>
    </div>
    </div>  


    

    <div class="row">
      <div class="col-3 mb-3" style="margin-left: 24px;"></div> 
    
          <!-- Botón para ir a la lista-->        
          <a  href="{% url 'bonificacion_pedido:list' anio form.objeto.value form.concepto.value %}" 
            type="button" 
            id="cancelar"
            class="btn btn-outline-secondary" 
            id="lista">Cancelar</a>
        


          <button type="button" id="editar" class="btn btn-primary" style="margin-left: 5px;">Editar</button>

    </div>  

  </div>   
  
</div> 
  {% endblock %}





{% block extrascripts %}

  
  <script>
    window.onload = function() {



      document.getElementById('row_cargo113').style.display = 'none';
      document.getElementById('row_cargo').style.display = 'none';
      // Obtiene el elemento select por su ID
      var selectElement = document.getElementById("objeto");
      // Obtiene el valor seleccionado
      var objdValue = selectElement.value;
      if (objdValue == 113) {        
        document.getElementById('row_cargo113').style.display = 'block';        
      }
      else {        
        document.getElementById('row_cargo').style.display = 'block';        
      }





      // filtrar trabajador por cedula  
      var nombreInput = document.getElementById('id_nombre');
      nombreInput.disabled = true;

      var cedulaInput = document.getElementById('id_cedula');
      cedulaInput.addEventListener('blur', function() {
          
        var cedula = cedulaInput.value.trim();
        
        // Realizar la solicitud AJAX
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/trabajador/nombre/' + cedula + '/');
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);

                if (response.nombre) {                  
                    nombreInput.value =response.nombre; 
                }
            } 
            else if (xhr.status === 404) {              
                nombreInput.value = ""; 
            }
        };
        xhr.send();
      });  




     

    comboselect2('cinsti');
    comboselect2_cargos('ccargo')


    var objetoElement = document.getElementById("objeto");
    $(objetoElement).select2({
        width: '100%',
        minimumResultsForSearch: -1 // Deshabilita la búsqueda
    });

    // Agrega un controlador de eventos para el cambio de valor del select
    $(objetoElement).on('change', function() {
        // Obtiene el valor seleccionado
        var selectedValue = $(this).val();          
        var objetoId = selectedValue;

        if (objetoId) {
          const conceptoSelect = document.getElementById('concepto');            
          fetch('/concepto/objeto/'+objetoId)        
          .then(response => response.json())
          .then(data => {
  
              // Limpia las opciones actuales del select
              conceptoSelect.innerHTML = '';

              // Itera sobre los datos recibidos y crea opciones para el select de conceptos
              data.forEach(item => {    
                var option = document.createElement('option');
                option.value = item.id_concepto_nomina;
                //option.text = item.concepto;              
                option.text = item.codigo_concepto_nomina + ' - ' + item.concepto; 
                conceptoSelect.appendChild(option);    
              });
          })                
          .catch(error => {
              console.error('Error:', error);
          });                  
        }
    });





  

      document.getElementById('editar').addEventListener('click', function() {

        // Obtener los valores de anio 
        var anio = document.getElementById('anio_hidden').value;        
        // Construir la URL de redirección        
        var url = "{% url 'bonificacion_pedido:edit' registro.pk %}"
        // Asignar la URL al atributo action del formulario
        document.getElementById('formulario').action = url;
        // Enviar el formulario
        document.getElementById('formulario').submit();
    
      });
  

/*
      document.getElementById('cancelar').addEventListener('click', function() {
        var url = "{% url 'bonificacion_pedido:list' %}"
        window.location.href = url;
      });
*/


      mostrarContenido();
    };
</script>

{% endblock %}




