{% extends 'main.html' %}
   
{% block content %}
<div id="main_container" style="display:none">

    <div class="container mb-4">


        <h2 class="titulo" >
            Pedidos de Bonificaciones </h2>

            <form method="get" action="{% url 'bonificacion_pedido:list' %}" id="formulario" class="mt-3">

            
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-5  mb-3">
                        <label for="anio" class="form-label">Año:</label>        
                        <input type="text" name="anio" id="anio" value="{{ anio }}" required class="form-control">
                    </div>
                </div>
    

                <div class="row">

                    <div class="col-8 mb-3">
                        <label for="objeto" class="form-label col-form-label">Objeto de Gasto:</label>
                        <select id="objeto" name="objeto" class="form-control" required>
                            {% for objeto in objetos %}
                                <option value="{{ objeto.codigo_objeto_gasto }}"
                                    {% if objeto.codigo_objeto_gasto == obj %}selected{% endif %}>
                                    {{ objeto.codigo_objeto_gasto }}   -   {{ objeto.nombre_objeto_gasto }}  
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
            
                
                <div class="row">
                    <div class="col-8 mb-3">
                        <label for="concepto" class="form-label col-form-label">Concepto:</label>

                        <select name="concepto" id="concepto" class="form-control">
                            <option value="0">Seleccione un concepto</option>
                            {% for concepto in conceptos %}
                                <option value="{{ concepto.codigo_concepto_nomina }}"
                                    {% if concepto.codigo_concepto_nomina|stringformat:"s" == concepto_id|stringformat:"s" %}selected{% endif %}>
                                    {{ concepto }}
                                </option>
                            {% endfor %}
                        </select>


                    </div>
                </div>
                
                


    
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">                        
                            <input type="text" class="form-control" 
                                id = "buscar"
                                value="{{ cedula|default:'' }}" 
                                placeholder="Buscar por ci."
                                style="width: 50%;">

                                <button class="btn btn-primary" type="button" 
                                id="busqueda_cabecera">Buscar</button>
                        </div>
                    </div>   
                    <div class="col-md-6"></div>    
                    <div class="col-md-2 mb-3">
                        <a href="{% url 'bonificacion_pedido:create' anio  %}" type="button" 
                        class="btn btn-success">Nuevo</a> 
                    </div> 
                </div>
            </form>
    




        <div class="table-responsive mt-4">
            <table class="table table-striped">
            <thead>

                <tr>                
                    <th>C.I. N°</th>
                    <th>Nombres y Apellidos</th> 
                    <th>Objeto de Gasto</th>                    
                    <th>Concepto</th>
                    <th>Sub Concepto</th>
                    
                    <th>Acciones</th>     
                                           
                    

                </tr>
            </thead>
            <tbody>
                {% for registro in lista %}
                    <tr> 
                        <td>{{ registro.cedula }}</td>
                        <td>{{ registro.nombre }}</td>  
                        <td>{{ registro.objeto }}</td>
                        <td>{{ registro.concepto }}</td>
                        <td>{{ registro.subconcepto }}</td>
                        

                        <td>
                            <div  class="d-flex align-items-center">

                                <a href="{% url 'bonificacion_pedido:detail' registro.id %}" 
                                style="color: #08753f;"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Detalle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                  </svg>
                                </a>

                                <a href="{% url 'bonificacion_pedido:edit' registro.id %}" 
                                    style="color: #0099CC;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Editar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                                      </svg>
                                </a>

                                <a href="{% url 'bonificacion_pedido:delete' registro.id %}"
                                    onclick="return confirm('¿Estás seguro?')"
                                    style="color: red;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Eliminar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-danger" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg>
                                </a>
                            </div>   
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    

        <div class="pagination mt-3">
            <ul class="pagination">
                {% if lista.has_previous %}
                <li class="page-item">
                    <a href="?page=1 {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> &laquo; &nbsp;primero&nbsp;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ lista.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">anterior &nbsp;</a>
                </li>    
                {% endif %}

                <li class="page-item disabled">
                <span class="page-link">
                    Página {{ lista.number }} de {{ lista.paginator.num_pages }}.
                </span>
                </li>

                {% if lista.has_next %}
                <li class="page-item">
                    <a href="?page={{ lista.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&nbsp;siguiente &nbsp;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ lista.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">ultimo&nbsp;&raquo;</a>
                </li>    
                {% endif %}
            </ul>    
        </div>

    </div>

</div>    
{% endblock %}


{% block extrascripts %}

  <script>
    window.onload = function() {



        $('#concepto').select2({
            width: '100%'
        });


        var selectObjeto = document.getElementById('objeto');        
        $(selectObjeto).select2({
            width: '100%'
        });            

        // Manejar el evento select2:select
        $(selectObjeto).on('select2:select', function (e) {
            var selectedValue = e.params.data.id;  // Obtiene el valor del elemento seleccionado
                        
            // Actualizar el select concepto con el nuevo valor de og
            $('#concepto').select2({
                width: '100%',
                ajax: {
                    url: '/concepto/nomina/filtrar/',
                    data: function(params) {
                        return {
                            og: selectedValue  // Usar el valor seleccionado en objeto como og
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: data.map(item => ({
                                id: item.codigo,
                                text: item.concepto
                            }))
                        };
                    }
                }
            }).val(null).trigger('change');  // Resetear el valor seleccionado en concepto
        });
        

    
        // Manejar el evento change para el select concepto
        $('#concepto').on('change', function() {
            MostrarPeriodoFiltro( );
            
        });







        document.getElementById('concepto').addEventListener('change', function() {
            var selectedValue = this.value;
        

            alert(selectedValue)

            //var anio = document.getElementById('anio').value;
/*
            // Lógica para aplicar el filtro
            if (selectedValue == '0') {
                console.log("Filtro: Todos los objetos");
                var url = '/bonificacion_pedido/list/' + encodeURIComponent(anio) + '/0/';
            } else {
                console.log("Filtro: Objeto de gasto " + selectedValue);
                var url = '/bonificacion_pedido/list/' + encodeURIComponent(anio) + '/'+ encodeURIComponent(selectedValue);
            }

            window.location.href = url;
  */
            
        });
        




        document.getElementById('busqueda_cabecera').addEventListener('click', function() {

            var anio = document.getElementById('anio').value;
            var cedula = document.getElementById('buscar').value;

            
            if (cedula && cedula !== '0') {
                // Construye la URL con el valor de cedula
                var url = '/bonificacion_pedido/list/' + encodeURIComponent(anio) + '/0/0/?cedula=' + encodeURIComponent(cedula);
                window.location.href = url;
                
            } else {
                
                // Opcional: Muestra un mensaje si el valor de cedula es 0 o vacío
                var url = '/bonificacion_pedido/list/' + encodeURIComponent(anio) + '/0/0/';
                window.location.href = url;
            }            


                /*
            // Obtener los valores del formulario
            var anio = document.getElementById('anio').value;                        

            // Construir la URL con los parámetros    
            var url = '{% url "marcacion_detalle:list" %}' + "/"+anio
            if (buscar.trim() !== '') {
                url +=  '?page=1' + '&q=' + encodeURIComponent(buscar);
            } 
            // Redireccionar a la URL construida
            window.location.href = url;
            */
        });
    

        

        mostrarContenido();

    };



    function MostrarPeriodoFiltro() {

        var anio = document.getElementById('anio').value;  
        
        // Obteniendo los valores de los select con select2
        var objeto = $('#objeto').val();  // Usar .val() para obtener el valor seleccionado de select2 (objeto)
        var concepto = $('#concepto').val();  // Usar .val() para obtener el valor seleccionado de select2 (concepto)


            
        // Generando la URL en el formato deseado        
        var url = `${window.location.origin}/bonificacion_pedido/list/${anio}/${objeto || 0}/${concepto || 0}/`;
        console.log("URL generada: " + url);

        // Redirigiendo al enlace generado
        window.location.href = url;        
    }


</script>

{% endblock %}