

<h2>Bonificaciones para el año {{ anio }} y el mes {{ mes }}</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for bonificacion in bonificaciones %}
        <tr>
            <td>{{ bonificacion.id }}</td>
            <td>{{ bonificacion.nombre }}</td>
            <td>{{ bonificacion.monto }}</td>
            <td>{{ bonificacion.fecha }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No se encontraron bonificaciones para este filtro.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
