{% extends 'main.html' %}


{% block content %}
<div id="main_container" style="display:none">

  
  <div class="container-fluid">
    <div class="row">
      <h2 class="titulo">Agregar Detalles de Marcación</h2> 
    </div>

    <div class="row">
      <div class="col-4 mb-3"></div>
      <div class="col-7 mb-3"> 
        <form method="post" id="formulario" action="">

        {% include 'app/marcacion_detalle/form_base.html' %}
         
        <a  href="{% url 'marcacion_detalle:list' anio mes  %}" type="button" 
          class="btn btn-outline-secondary" >Cancelar</a>    
        
          <button type="button" id="agregar" class="btn btn-primary">Agregar</button>
          <div class="col-1 mb-3"></div>

      </div>
    </div>

    </form>
  </div>    


</div> 
{% endblock %}








{% block extrascripts %}

  <script>
    window.onload = function() {

        document.getElementById('agregar').addEventListener('click', function() {
            // Obtener los valores de anio y mes del formulario
            var anio = document.getElementById('anio').value;
            var mes = document.getElementById('mes').value;
        
            // Construir la URL de redirección
            //var url = '/marcacion_detalle/crear/' + anio + '/' + mes + '/';
            var url = "{% url 'marcacion_detalle:create' anio mes %}"
        
            // Asignar la URL al atributo action del formulario
            document.getElementById('formulario').action = url;

            // Enviar el formulario
            document.getElementById('formulario').submit();       
        });


        comboselect2('id_depende');
               
        mostrarContenido();
    };
</script>

{% endblock %}
