{% extends 'main.html' %}


{% block content %}
<div id="main_container" style="display:none">
 
  <div class="container my-4">
      
    <h2 class="titulo">Detalle de Marcación</h2>   
    
    <form method="post" id="formulario" action="">

      {% include 'app/marcacion_detalle/form_base.html' %}

        <!-- Botón para ir a la lista-->

        <div>
         <a  href="{% url 'marcacion_detalle:list' anio mes  %}" type="button" 
          class="btn btn-outline-secondary">Ir a la lista</a>      
        </div>

    </form>

  </div>

</div>
{% endblock %}





{% block extrascripts %}

  <script>

    var marcacion_list_url = "{% url 'marcacion_detalle:list' %}";


    window.onload = function() {

      mostrarContenido();
      bloquearCamposFormulario('formulario');
      
    };
</script>

{% endblock %}









    
