{% extends 'main.html' %}


  {% block content %}
  <div id="main_container" style="display:none">

    <div class="container my-4">

      <h2 class="titulo">Editar Detalles de Marcación</h2>  

      <form method="post" id="formulario" action="">
  
        {% include 'app/marcacion_detalle/form_base.html' %}
  
          
        <a href="{% url 'marcacion_detalle:list' anio mes  %}" type="button" 
          class="btn btn-outline-secondary" >Cancelar</a> 

        <button type="button" class="btn btn-primary" id="editar">Editar</button>
  
      </form>

    </div>  


  </div>
  {% endblock %}





{% block extrascripts %}

  <script>
    window.onload = function() {


    document.getElementById('editar').addEventListener('click', function() {

        // Construir la URL de redirección        
        var url = "{% url 'marcacion:editar' registro.pk %}"

        // Asignar la URL al atributo action del formulario
        document.getElementById('formulario').action = url;

        // Enviar el formulario
        document.getElementById('formulario').submit();
    
      });
  
      comboselect2('id_depende');
               
      mostrarContenido();
    };
</script>

{% endblock %}




