{% csrf_token %}
    
<div class="center-content ">

    <div class="row justify-content-center align-items-center">

        <div class="col-12">

    <div class="row">

        <div class="col-1 mb-3">
            <label for="id" class="form-label">ID:</label>
            <input type="text" name="id" id="id" value="{{ registro.id }}" class="form-control" required disabled>
        </div>

        <div class="col-1 mb-3">
            <label for="anio" class="form-label">Año:</label>
            <input type="text" name="anio" id="anio" value="{{ anio }}" class="form-control" required disabled>
        </div>

        <div class="col-1 mb-3">
            <label for="mes" class="form-label">Mes:</label>
            <input type="text" name="mes" id="mes" value="{{ mes }}" class="form-control" required disabled>
        </div>
    </div>

    <div class="row">

        <div class="col-3 mb-3">
            <label for="codigo_trabajador" class="form-label">C.I. N°:</label>
            <input  type="{{ form.cedula.field.widget.input_type }}"
                    name = "{{ form.codigo_trabajador.name }}" 
                    id  =  "{{ form.codigo_trabajador.id_for_label }}"
                    class="form-control" 
                    value= "{{ form.codigo_trabajador.value }}" {% if form.codigo_trabajador.required %}required{% endif %}>
        </div>

        <div class="col-5 mb-3">
            <label for="nombre_trabajador" class="form-label">Nombres y Apellidos:</label>
            <input  type="{{ form.nombre_trabajador.field.widget.input_type }}"
                    name = "{{ form.nombre_trabajador.name }}" 
                    id  =  "{{ form.nombre_trabajador.id_for_label }}"
                    class="form-control" 
                    value= "{{ form.nombre_trabajador.value }}" {% if form.nombre_trabajador.required %}required{% endif %}>
        </div>
    
    </div>

    <div class="row">

        <div class="col-8 mb-3">
            <label for="id_depende" class="form-label col-form-label">Dependencia:</label>
            <select id="id_depende"
                    name="{{ form.id_depende.name }}"                            
                    class="form-control" 
                    {% if form.id_depende.required %}required{% endif %}>
                    {% for choice in form.id_depende.field.choices %}
                    <option value="{{ choice.0 }}" 
                    {% if choice.0 == form.id_depende.value %}selected{% endif %}>{{ choice.1 }}
                    </option>
                        {% endfor %}
                    </select>                   
        </div>
    </div>

    <div class="row">

        <div class="col-2 mb-3"><label for="codigo_categoria_rubro" class="form-label">Categ. Rubro:</label>
            <input type="{{ form.codigo_categoria_rubro.field.widget.input_type }}"
            name="{{ form.codigo_categoria_rubro.name }}" 
            id="{{ form.codigo_categoria_rubro.id_for_label }}"
            class="form-control" 
            {% if form.codigo_categoria_rubro.value %}value="{{ form.codigo_categoria_rubro.value }}"{% endif %}
            {% if form.codigo_categoria_rubro.required %}required{% endif %}>
        </div>
        
        <div class="col-2 mb-3"><label for="monto_categoria_rubro" class="form-label">Monto Rubro:</label>
            <input type="{{ form.monto_categoria_rubro.field.widget.input_type }}"
            name="{{ form.monto_categoria_rubro.name }}" 
            id="{{ form.monto_categoria_rubro.id_for_label }}"
            class="form-control" 
            {% if form.monto_categoria_rubro.value %}value="{{ form.monto_categoria_rubro.value }}"{% endif %}
            {% if form.monto_categoria_rubro.required %}required{% endif %}>
        </div>

        <div class="col-2 mb-3"><label for="cantidad_rubro" class="form-label">Cant. Rubros:</label>
            <input type="{{ form.cantidad_rubro.field.widget.input_type }}"
            name="{{ form.cantidad_rubro.name }}" 
            id="{{ form.cantidad_rubro.id_for_label }}"
            class="form-control" 
            value="{{ form.cantidad_rubro.value }}"
            {% if form.cantidad_rubro.required %}required{% endif %}>
        </div>

        <div class="col-2 mb-3"><label for="total_asignacion" class="form-label">Total Asignacion:</label>
            <input type="{{ form.total_asignacion.field.widget.input_type }}"
            name="{{ form.total_asignacion.name }}" 
            id="{{ form.total_asignacion.id_for_label }}"
            class="form-control" 
            {% if form.total_asignacion.value %}value="{{ form.total_asignacion.value }}"{% endif %}
            {% if form.total_asignacion.required %}required{% endif %}>
        </div>

    </div>
    
    <div class="row">

        <div class="col-2 mb-3"><label for="cantidad_horas_remuneracion_extraordinaria" class="form-label">RE Pedido:</label>
            <input type="{{ form.cantidad_horas_remuneracion_extraordinaria.field.widget.input_type }}"
            name="{{ form.cantidad_horas_remuneracion_extraordinaria.name }}" 
            id="{{ form.cantidad_horas_remuneracion_extraordinaria.id_for_label }}"
            class="form-control" 
            {% if form.cantidad_horas_remuneracion_extraordinaria.value %}value="{{ form.cantidad_horas_remuneracion_extraordinaria.value }}"{% endif %}
            {% if form.cantidad_horas_remuneracion_extraordinaria.required %}required{% endif %}>
        </div>
        
        <div class="col-2 mb-3"><label for="cantidad_horas_remuneracion_adicional" class="form-label">RA Pedido:</label>
            <input type="{{ form.cantidad_horas_remuneracion_adicional.field.widget.input_type }}"
            name="{{ form.cantidad_horas_remuneracion_adicional.name }}" 
            id="{{ form.cantidad_horas_remuneracion_adicional.id_for_label }}"
            class="form-control" 
            value="{{ form.cantidad_horas_remuneracion_adicional.value }}"
            {% if form.cantidad_horas_remuneracion_adicional.required %}required{% endif %}>
        </div>
        
    </div>

    </div>

    </div>

</div>

