{% extends 'main.html' %}
   
{% block content %}
<div id="main_container" style="display:none">

    <div class="container mb-4">

        <h2 class="titulo">Listado de Marcaciones (Direcc. de Estadistica)</h2>
        <form method="get" action="{% url 'marcacion_detalle:list' %}" id="formulario" class="mt-3">

            <div class="row">
                <div class="col-xl-1 col-lg-2 col-md-3 col-sm-3 col-5  mb-3">
                    <label for="anio" class="form-label">Año:</label>        
                    <input type="text" name="anio" id="anio" value="{{ anio }}" required class="form-control">
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-5 mb-3">
                    <label for="mes" class="form-label w-100">Seleccione el mes:</label>
                    <select name="mes" id="mes" required class="form-select">
                    <option value="1" {% if mes == 1 %}selected{% endif %}>Enero</option>
                    <option value="2" {% if mes == 2 %}selected{% endif %}>Febrero</option>
                    <option value="3" {% if mes == 3 %}selected{% endif %}>Marzo</option>
                    <option value="4" {% if mes == 4 %}selected{% endif %}>Abril</option>
                    <option value="5" {% if mes == 5 %}selected{% endif %}>Mayo</option>
                    <option value="6" {% if mes == 6 %}selected{% endif %}>Junio</option>
                    <option value="7" {% if mes == 7 %}selected{% endif %}>Julio</option>
                    <option value="8" {% if mes == 8 %}selected{% endif %}>Agosto</option>
                    <option value="9" {% if mes == 9 %}selected{% endif %}>Septiembre</option>
                    <option value="10" {% if mes == 10 %}selected{% endif %}>Octubre</option>
                    <option value="11" {% if mes == 11 %}selected{% endif %}>Noviembre</option>
                    <option value="12" {% if mes == 12 %}selected{% endif %}>Diciembre</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="input-group mb-3">                        
                        <input type="text" class="form-control"
                        id="buscar"
                        value="{{ request.GET.q|default:'' }}"
                        placeholder="Buscar por nombre o ci"
                        style="width: 50%;">
                        <button class="btn btn-primary" type="button" id="busqueda_cabecera">Buscar</button>
                    </div>
                </div><div class="col-md-6"></div>
                <div class="col-md-2 mb-3"><a  href="{% url 'marcacion_detalle:create' anio mes  %}" type="button" 
                class="btn btn-success">Nuevo</a>
                </div>
            </div>

        </form>
        <div class="table-responsive mt-4">
            <table class="table table-striped">
            <thead>

                <tr>                
                      
                    <th>Año</th>
                    <th>Mes</th>
                    <th>C.I. N°</th>
                    <th>Nombres y Apellidos</th>
                    <th>Dependencia</th>
                    <th>RE Pedido</th>
                    <th>RA Pedido</th>     
                    <th>Rubro</th>     
                    <th>Monto Rubro</th>     
                    <th>Cant. Rubro</th>     
                    <th>Total Asignación</th>
                    <th>Acciones</th>     
                       
                    
                    

                </tr>
            </thead>
            <tbody>
                {% for registro in lista %}
                    <tr>   
  
                        <td>{{ registro.anio }}</td>
                        <td>{{ registro.mes }}</td>
                        <td>{{ registro.codigo_trabajador }}</td>
                        <td>{{ registro.nombre_trabajador }}</td>
                        <td>{{ registro.id_depende.nombre }}</td>
                        <td>{{ registro.cantidad_horas_remuneracion_extraordinaria }}</td>
                        <td>{{ registro.cantidad_horas_remuneracion_adicional }}</td>
                        <td>{{ registro.codigo_categoria_rubro }}</td>
                        <td>{{ registro.monto_categoria_rubro }}</td>
                        <td>{{ registro.cantidad_rubro }}</td>
                        <td>{{ registro.total_asignacion }}</td>

                        <td>
                            <div  class="d-flex align-items-center">

                                <a href="{% url 'marcacion:detalle' registro.id %}" 
                                style="color: #08753f;"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Detalle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                  </svg>
                                </a>

                                <a href="{% url 'marcacion:editar' registro.id %}" 
                                    style="color: #0099CC;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Editar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                                      </svg>
                                </a>

                                <a href="{% url 'marcacion:borrar' registro.id %}"
                                    onclick="return confirm('¿Estás seguro?')"
                                    style="color: red;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Eliminar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-danger" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg>
                                </a>
                            </div>   
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    

        <div class="pagination mt-3">
            <ul class="pagination">
                {% if lista.has_previous %}
                <li class="page-item">
                    <a href="?page=1 {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> &laquo; &nbsp;primero&nbsp;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ lista.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">anterior &nbsp;</a>
                </li>    
                {% endif %}

                <li class="page-item disabled">
                <span class="page-link">
                    Página {{ lista.number }} de {{ lista.paginator.num_pages }}.
                </span>
                </li>

                {% if lista.has_next %}
                <li class="page-item">
                    <a href="?page={{ lista.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&nbsp;siguiente &nbsp;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ lista.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">ultimo&nbsp;&raquo;</a>
                </li>    
                {% endif %}
            </ul>    
        </div>

    </div>

</div>    
{% endblock %}


{% block extrascripts %}

  <script>
    window.onload = function() {



        document.getElementById('busqueda_cabecera').addEventListener('click', function() {
            // Obtener los valores del formulario
            var anio = document.getElementById('anio').value;
            var mes = document.getElementById('mes').value;
            var buscar = document.getElementById('buscar').value;


            // Construir la URL con los parámetros    
            var url = '{% url "marcacion_detalle:list" %}' + "/"+anio+"/"+mes
            if (buscar.trim() !== '') {
                url +=  '?page=1' + '&q=' + encodeURIComponent(buscar);
            } 
            // Redireccionar a la URL construida
            window.location.href = url;

        });
    

        mostrarContenido();

    };
</script>

{% endblock %}