{% extends 'main.html' %}
{% load static %}



{% block content %}
<div id="main_container" style="display:none">

    <div class="container">    
        
        <h2 class="titulo">Migrar Datos de Marcaciones (Direcc. de Estadistica)</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row" style="margin-top: 50px;">  
                <div class="col-3"></div>          
                <div class="col-1 md-3">
                    <label for="anio" class="form-label">Año:</label>        
                    <input type="text" name="anio" id="anio" value="0" required class="form-control">
                </div>              
                
                <div class="col-2 mb-3">
                    <label for="mes" class="form-label w-100">Seleccione el mes:</label>
                    <select name="mes" id="mes" required class="form-select">
                        <option value="0">-seleccionar mes-</option>
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </div>

            </div>  
      
            <div style="margin-left: 325px; ">

            <label style="margin-bottom: 10px; margin-top: 15px; width: 50%;" for="formFile" class="form-label">Subir Archivo de Marcación</label>

            <input id="formFile" class="form-control" style="width: 50%;" type="file" name="excel_file" accept=".xlsx" required>
            
            <div style="margin-top: 10px;"> 
                <button type="submit" class="btn btn-primary" >Subir Archivo</button>
            <div> 

            </div>
        </form>




    </div>

</div> 
{% endblock %}    





{% block extrascripts %}

<script>
    window.onload = function() {


        document.getElementById('main_spinner').style.display = 'none';
        document.getElementById('main_container').style.display = 'block';


        // Asignar el valor del año 
        document.getElementById('anio').value = new Date().getFullYear();


    };
</script>

{% endblock %}
