<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!--choicesjs-->
    <link href="{% static 'lib/choicesjs/choices.min.css' %}" rel="stylesheet">
    <script src="{% static 'lib/choicesjs/choices.min.js' %}"></script>

    
    <!--JQUERY-->
    <script src="{% static 'lib/jquery-3.5.1/jquery.min.js' %}"></script>
    <!--SELECT2-->    
    <link href="{% static 'lib/select2-4.1.0/select2.min.css' %}" rel="stylesheet">
    <script src="{% static 'lib/select2-4.1.0/select2.min.js' %}"></script>


    <!-- Incluir Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    

    <!--Bootstrap-->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">  -->
    <link href="{% static 'lib/bootstrap-5.3.2/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'lib/bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>
    

    <!--Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    


    
    <!-- Fonts -->
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    

    <script src="{% static 'js/funciones.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <!-- Bloque extrascripts para incluir scripts adicionales -->
    {% block extrascripts %}{% endblock %}


    

</head>
{% block body %}
<body>
    


    <!-- Header -->
    <header>        
        {% include 'nav.html' %}
    </header>
    <!-- End Header -->

        
    

    <main style="flex: 1;" class="pb-5">
        

        {% block content_body %}
        <!-- main.html -->
        {% endblock %}


        {% block home_section %}
        {% endblock %}



        <div class="pb-5"></div>
    </main>
    
    

    <!-- Mensaje -->
    {% include 'message.html' %}
    <!-- End Mensaje -->


</body>
{% endblock %}
</html>
