<!-- /home/hugo/python/sueldosbeneficios/templates/error_popup.html -->
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403 - Permisos</title>
    <link href="{% static 'lib/bootstrap-5.3.2/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'lib/bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <strong>Error 403:</strong> {{ error_message }}
        </div>
    </div>
</body>
</html>
