{% load static %}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/img/escudo_blanco.png" alt="Logo" id="header_logo">
            Dpto. de Sistemas
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="align-items: self-start;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Inicio</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBeneficios" 
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Beneficios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownBeneficios">                        
                        
                        <li><a class="dropdown-item" href="{% url 'remuneraciones_pedidos_list' %}">
                            Remuneraciones pedidos</a></li>                                               
                        <li><a class="dropdown-item" href="{% url 'marcacion_detalle:migrar' %}">
                            Migrar datos de Estadisticas</a></li>                                          

                        <li><a class="dropdown-item" href="{% url 'liquidacion_rera:procesar' %}">
                            Procesar Re - Ra</a></li>                                                                 

                        <li><a class="dropdown-item" href="{% url 'marcacion_detalle:list' %}">
                            Detalle de marcacion</a></li>     

                        <li><a class="dropdown-item" href="{% url 'liquidacion_rera:lista' %}">
                            Liquidacion RA-RE</a></li>     

                    </ul>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_contratados" 
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Contratados
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown_contratados">                        
                       
  

                        <li><a class="dropdown-item" href="{% url 'contratados:migrar' %}">
                            Migrar archivo excel</a></li>                                 
                    </ul>
                </li>



            </ul>
        </div>
    </div>
</nav>
</header>