{% extends 'base.html' %}

{% block content_body %}
<!-- Contenido específico de la página de inicio -->
{% endblock %}

{% block home_section %}
<div class="row">
    <div class="container">
        <div class="row justify-content-md-center align-items-center vh-100">
            <div class="col-lg-4">
                <img class="img-fluid mb-5" src="/static/img/mec-logo.png" alt="Logo-Mec">
                <div class="contenido">
                    <p class="p1">
                        BIENVENIDOS
                    </p>
                </div>
                <div class="contenido">
                    <ul class="ul1">
                        <li class="li1">DEPARTAMENTO DE SISTEMAS</li>
                        <li class="li1">DIRECC. DE ADMIN. DE SUELDOS Y BENEFICIOS</li>
                    </ul>
                </div>
            </div>
            <div>
                {% include 'message.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}