{% if messages %}
<div class="mensaje-contenedor">
    {% for message in messages %}
        
        {% if message.tags == 'success' %}
        <div class="alert alert-success">
            <strong></strong> {{ message }}
        </div>

        {% elif message.tags == 'error' %}
        <div class="alert alert-danger">
            <strong>Error:</strong> {{ message }}
        </div>
        
        {% elif message.tags == 'warning' %}
        <div class="alert alert-warning">
            <strong>Información:</strong> {{ message }}
        </div>
        {% endif %}

    {% endfor %}
</div>
{% endif %}