{% load static %}

<h1>DPTO. DE SISTEMAS DASyB</h1>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">INICIO</a></li>
        <li>
            <a href="#">ARCHIVOS</a>
            <ul><!-- esta tiene position absolute, top 0 -->
                <li><a href="{% url 'periodo:list' %}">Periodo de Liquidación</a></li>
            </ul>
        </li>
        <li>
            <a href="#">BENEFICIOS</a>
            <ul>
                <li><a href="{% url 'remuneraciones_pedidos:lista' %}">Remuneraciones Pedidos</a></li>
                <li><a href="{% url 'marcacion_detalle:migrar' %}">Migrar Datos</a></li>
                <li><a href="{% url 'marcacion_detalle:list' %}">Detalles de Marcación</a></li>
                <li id="rera">
                    <a href="#">Horas Extras<img src="/static/assets/arrow.svg"></a>
                    <ul>
                        <li><a href="{% url 'liquidacion_rera:procesar' %}">Procesar RE-RA</a></li>
                        <li><a href="{% url 'liquidacion_rera:lista' %}">Liquidacion RE-RA</a></li>
                    </ul>
                </li>
                <li id="boni">
                    <a href="#">Bonificaciones <img src="/static/assets/arrow.svg"></a>
                    <ul>
                        <li><a href="{% url 'bonificacion_pedido:list' %}">Bonificaciones Pedidos</a></li>
                        <li><a href="{% url 'bonificacion_permanente:list' %}">Bonificaciones Permanentes</a></li>
                        <li><a href="{% url 'bonificacion_permanente_pagada:list' %}">Bonificaciones Pagadas</a></li>
                    </ul>
                </li>
            </ul>
        </li>


        {% if es_sysadmin %}
        <li>
            <a href="#">CONTRATADOS</a>
            <ul><!-- esta tiene position absolute, top 0 -->
                <li><a href="#">Migrar Archivos de Excel</a></li>
            </ul>
        </li>
        {% endif %}

        
    </ul>
</nav>
