
<div class="outer-container" id="main_spinner"
    style="
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    ">
    <div class="spinner-container">

        <div class="spinner-border text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

    </div>
</div>




