{% extends 'main.html' %}

{% block content %}
<div id="main_container" style="display:none">
  
  <div class="container">

    <h2 class="titulo">Agregar RE-RA</h2>        
    <form method="post" id="formulario" action="">

      {% include 'app/liquidacion_rera/form_base.html' %} 
      
      <div style="margin-bottom: 10px; margin-left: 210px;">
         
        <a  href="{% url 'liquidacion_rera:lista' anio mes  %}" type="button" 
          class="btn btn-outline-secondary" >Cancelar</a>            

        <button type="button" id="agregar" class="btn btn-primary">Agregar</button>
  
      </div>

    </form>
  </div>    


</div> 
{% endblock %}

{% block extrascripts %}
      
  <script>
    window.onload = function() {

        document.getElementById('agregar').addEventListener('click', function() {
            // Obtener los valores de anio y mes del formulario
            var anio = document.getElementById('anio').value;
            var mes = document.getElementById('mes').value;
        
            // Construir la URL de redirección
            //var url = '/marcacion_detalle/crear/' + anio + '/' + mes + '/';
            var url = "{% url 'liquidacion_rera:crear' anio mes %}"
        
            // Asignar la URL al atributo action del formulario
            document.getElementById('formulario').action = url;

            // Enviar el formulario
            document.getElementById('formulario').submit();       
        });

        comboselect2('id_depende');
        comboselect2('id_dep_sup');
      

        mostrarContenido();

        ['id', 'anio', 'id_cedula', 'id_ccargo', 'id_presupuesto', 'id_tot_asigna', 'id_may_asigna', 'id_ba_calculo', 'id_calculo', 'id_monto', 'id_montohs50', 'id_jubilacion', 'id_liquido'].forEach(function(id) {
    formatearNumero(id);
});

       
    };
</script>

{% endblock %}
