{% extends 'main.html' %}
{% load static %}


{% block content %}
<div id="main_container" style="display:none">
 
  <div class="container">
      
    <h2 class="titulo">Detalle RE-RA</h2> 

    <form method="post" id="formulario" action="">

        {% include 'app/liquidacion_rera/form_base.html' %}   

        <!-- Botón para ir a la lista-->
        <div class="py-4" style="margin-left: 210px;">
          <a  href="{% url 'liquidacion_rera:lista' anio mes  %}" type="button" 
              class="btn btn-outline-secondary">Ir a la lista</a>      
        </div>


    </form>

  </div>

</div>
{% endblock %}





{% block extrascripts %}
  

  <script>
    window.onload = function() {

      // bloquear_campos();
      
      mostrarContenido();
      bloquearCamposFormulario('formulario');


      
      /*document.getElementById("id_presupuesto").value = formatearNumero("id_presupuesto") ;
      formatearNumero("id");
      formatearNumero("anio");
      formatearNumero("id_cedula");
      formatearNumero("id_ccargo");
      formatearNumero("id_presupuesto");
      formatearNumero("id_tot_asigna");
      formatearNumero("id_may_asigna");
      formatearNumero("id_ba_calculo");
      formatearNumero("id_calculo");
      formatearNumero("id_monto");
      formatearNumero("id_montohs50");
      formatearNumero("id_jubilacion");
      formatearNumero("id_liquido");*/

      
      //optimizado
      ['id', 'anio', 'id_cedula', 'id_ccargo', 'id_presupuesto', 'id_tot_asigna', 'id_may_asigna', 'id_ba_calculo', 'id_calculo', 'id_monto', 'id_montohs50', 'id_jubilacion', 'id_liquido'].forEach(function(id) {
    formatearNumero(id);
});
    };
</script>

{% endblock %}









    
