{% extends 'main.html' %}

  {% block content %}

  <div id="main_container" style="display:none">

    <div class="container-fluid">
      <div class="row">

      <h2 class="titulo">Editar RE-RA</h2>

    </div>

    <div class="row">
      <div class="col-2 mb-3"></div>
      <div class="col-8 mb-3">

      <form method="post" id="formulario" action="">
  
        {% include 'app/liquidacion_rera/form_base.html' %} 
      
      </form>

    </div>

    </div>

    <div class="row">
  
      <div class="col-3 mb-3" style="margin-left: 53px;"></div>
            <a  href="{% url 'liquidacion_rera:lista' anio mes  %}" type="button" 
                class="btn btn-outline-secondary">Ir a la lista</a>      

              <button type="button" class="btn btn-primary" id="editar">Editar</button>
          </div>
    
    </div>
  
      

    </div>  


  </div>
  {% endblock %}





{% block extrascripts %}

  
  
  <script>
    window.onload = function() {

      document.getElementById('editar').addEventListener('click', function() {

        // Construir la URL de redirección        
        var url = "{% url 'liquidacion_rera:editar' registro.pk %}"
                
        // Asignar la URL al atributo action del formulario
        document.getElementById('formulario').action = url;

        // Enviar el formulario
        document.getElementById('formulario').submit();
    
      });
  

      comboselect2('id_depende');
      comboselect2('id_dep_sup');
      

      
      mostrarContenido();


      ['id', 'anio', 'id_cedula', 'id_ccargo', 'id_presupuesto', 'id_tot_asigna', 'id_may_asigna', 'id_ba_calculo', 'id_calculo', 'id_monto', 'id_montohs50', 'id_jubilacion', 'id_liquido'].forEach(function(id) {
        formatearNumero(id);
      });

      
  };
</script>

{% endblock %}




