
{% csrf_token %}

<div>

    <div class="row" style="padding: 0px ;">

        <div class="col-1 mb-3"></div>
        <div class="col-1 mb-3"></div>

        <div class="col-1 mb-3">
            <label for="id" class="form-label">ID:</label>
            <input type="text" name="id" id="id" value="{{ registro.id }}" class="form-control" required disabled 
            style= "text-align: center; font-size: 16px; font-family: monospace;">
        </div>

        <div class="col-1 mb-3">
            <label for="anio" class="form-label">Año:</label>
            <input type="text" name="anio" id="anio" value="{{ anio }}" class="form-control" required disabled
            style= "text-align: center; font-size: 16px; font-family: monospace;">
        </div>

        <div class="col-1 mb-3">
            <label for="mes" class="form-label">Mes:</label>
            <input type="text" name="mes" id="mes" value="{{ mes }}" class="form-control" required disabled
            style= "text-align: center; font-size: 16px; font-family: monospace;">
        </div>

    </div>

    <div class="row">

        <div class="col-1 mb-3"></div>
        <div class="col-1 mb-3"></div>

        <div class="col-2 mb-3">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.cedula.id_for_label }}" class="form-label col-form-label flex-grow-1">Cedula:</label>
                <input  type="{{ form.cedula.field.widget.input_type }}"
                        name = "{{ form.cedula.name }}" 
                        id  =  "{{ form.cedula.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.cedula.value }}" {% if form.cedula.required %}required{% endif %}
                        style= "text-align: center; font-size: 16px; font-family: monospace;">                                        
            </div>

        </div>

        <div class="col-4 mb-3" style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.nombre.id_for_label }}" class="form-label col-form-label flex-grow-1">Nombres y Apellidos:</label>
                <input  type="{{ form.nombre.field.widget.input_type }}"
                        name = "{{ form.nombre.name }}" 
                        id  =  "{{ form.nombre.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.nombre.value }}" {% if form.nombre.required %}required{% endif %}>             
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-1 mb-3"></div>
        <div class="col-1 mb-3"></div>

        <div class="col-md-8 mb-3">

            <div class="row d-flex align-items-center">
                <label for="id_depende" class="form-label col-form-label flex-grow-1">Dependencia:</label>
                <select id="id_depende" 
                        name="{{ form.id_depende.name }}"                            
                        class="form-control" 
                        {% if form.id_depende.required %}required{% endif %}>
                           {% for choice in form.id_depende.field.choices %}
                                <option value="{{ choice.0 }}" 
                                {% if choice.0 == form.id_depende.value %}selected{% endif %}>{{ choice.1 }}
                                </option>
                           {% endfor %}
                </select>
            </div>

        </div>

    </div>
    
    <div class="row">

        <div class="col-1 mb-3"></div>
        <div class="col-1 mb-3"></div>

        <div class="col-md-8 mb-3">

            <div class="row d-flex align-items-center">
                <label for="id_dep_sup" class="form-label col-form-label flex-grow-1">Dependencia Superior:</label>          
                <select id="id_dep_sup"
                        name="{{ form.id_dep_sup.name }}"                            
                        class="form-control" 
                        {% if form.id_dep_sup.required %}required{% endif %}>
                           {% for choice in form.id_dep_sup.field.choices %}
                                <option value="{{ choice.0 }}" 
                                {% if choice.0 == form.id_dep_sup.value %}selected{% endif %}>{{ choice.1 }}
                                </option>
                            {% endfor %}
                </select>          
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-1"></div>
        <div class="col-1"></div>

        <div class="col-md-1 mb-3"> 

            <div class="row d-flex align-items-center">
                <label  for="{{ form.ccargo.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Cargo:</label>
                <input  type="{{ form.ccargo.field.widget.input_type }}"
                        name = "{{ form.ccargo.name }}" 
                        id  =  "{{ form.ccargo.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.ccargo.value }}" {% if form.ccargo.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">      
            </div>
                        
        </div>

        <div class="col-5 mb-3" style="margin-left:5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.dsc_cargo.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Descripción del Cargo:</label>
                <input  type="{{ form.dsc_cargo.field.widget.input_type }}"
                        name = "{{ form.dsc_cargo.name }}" 
                        id  =  "{{ form.dsc_cargo.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.dsc_cargo.value }}" {% if form.dsc_cargo.required %}required{% endif %}>
            </div>

        </div>

        <div class="col-md-2 mb-3" style="margin-left:5px;">            
            <div class="row d-flex align-items-center">
                <label  for="{{ form.condicion_laboral.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Condición Laboral:</label>
                    <input  type="{{ form.condicion_laboral.field.widget.input_type }}"
                        name = "{{ form.condicion_laboral.name }}" 
                        id  =  "{{ form.condicion_laboral.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.condicion_laboral.value }}" {% if form.condicion_laboral.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">      
            </div>            
        </div>    

    </div>

    <div class="row">

        <div class="col-1 mb-3"></div>
        <div class="col-1 mb-3"></div>

        <div class="col-1 mb-3">          

            <div class="row d-flex align-items-center">
                <label  for="{{ form.categoria.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Rubro:</label>
                <input  type="{{ form.categoria.field.widget.input_type }}"
                        name = "{{ form.categoria.name }}" 
                        id  =  "{{ form.categoria.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.categoria.value }}" {% if form.categoria.required %}required{% endif %}
                        style= "text-align: center; font-size: 16px;">
            </div>

        </div>

        <div class="col-3 mb-3"style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.presupuesto.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Presupuesto:</label>
                <input  type="{{ form.presupuesto.field.widget.input_type }}"
                        name = "{{ form.presupuesto.name }}" 
                        id  =  "{{ form.presupuesto.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.presupuesto.value }}" {% if form.presupuesto.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">
            </div>

        </div>

        <div class="col-2 mb-3"style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.cantidad_rubros.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Cantidad de Rubros:</label>
                <input  type="{{ form.cantidad_rubros.field.widget.input_type }}"
                        name = "{{ form.cantidad_rubros.name }}" 
                        id  =  "{{ form.cantidad_rubros.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.cantidad_rubros.value }}" {% if form.cantidad_rubros.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">  
            </div>

        </div>

        <div class="col-2 mb-3"style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.objeto.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Objeto:</label>
                <input  type="{{ form.objeto.field.widget.input_type }}"
                        name = "{{ form.objeto.name }}" 
                        id  =  "{{ form.objeto.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.objeto.value }}" {% if form.objeto.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-1 mb-3"></div>
        <div class="col-1 mb-3"></div>

        <div class="col-2 mb-3">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.tot_asigna.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Total asignación:</label>
                <input  type="{{ form.tot_asigna.field.widget.input_type }}"
                        name = "{{ form.tot_asigna.name }}" 
                        id  =  "{{ form.tot_asigna.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.tot_asigna.value }}" {% if form.tot_asigna.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">  
            </div>

        </div>

        <div class="col-2 mb-3" style="margin-left: 5px;">            
            <div class="row d-flex align-items-center">
                <label  for="{{ form.may_asigna.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Mayor asignación:</label>
                <input  type="{{ form.may_asigna.field.widget.input_type }}"
                        name = "{{ form.may_asigna.name }}" 
                        id  =  "{{ form.may_asigna.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.may_asigna.value }}" {% if form.may_asigna.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">  
            </div>

        </div>

        <div class="col-2 mb-3" style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.tope_hs_re.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Tope hs RE:</label>
                <input  type="{{ form.tope_hs_re.field.widget.input_type }}"
                        name = "{{ form.tope_hs_re.name }}" 
                        id  =  "{{ form.tope_hs_re.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.tope_hs_re.value }}" {% if form.tope_hs_re.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">  
            </div>

        </div>

        <div class="col-2 mb-3" style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label for="{{ form.horas_re.id_for_label }}" 
                        class="form-label col-form-label flex-grow-1">Horas RE:</label>
                <input type="{{ form.horas_re.field.widget.input_type }}"
                           name="{{ form.horas_re.name }}" 
                           id="{{ form.horas_re.id_for_label }}"
                           class="form-control" 
                           {% if form.horas_re.value %}value="{{ form.horas_re.value }}"{% endif %}
                           {% if form.horas_re.required %}required{% endif %}
                           style= "text-align: right; font-size: 16px; font-family: monospace;">  
            </div>

        </div>
        
    </div>  

    <div class="row">

        <div class="col-1 mb-3"></div>
        <div class="col-1 mb-3"></div>

        <div class="col-2 mb-3">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.hs_aplicad.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Hs Aplicadas:</label>
                <input  type="{{ form.hs_aplicad.field.widget.input_type }}"
                        name = "{{ form.hs_aplicad.name }}" 
                        id  =  "{{ form.hs_aplicad.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.hs_aplicad.value }}" {% if form.hs_aplicad.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;"> 
            </div>

        </div>

        <div class="col-2 mb-3" style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.porcentaje.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Porcentaje:</label>
                <input  type="{{ form.porcentaje.field.widget.input_type }}"
                        name = "{{ form.porcentaje.name }}" 
                        id  =  "{{ form.porcentaje.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.porcentaje.value }}" {% if form.porcentaje.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;"> 
            </div>

        </div>

        <div class="col-2 mb-3" style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.ba_calculo.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Ba. calculo:</label>
                <input  type="{{ form.ba_calculo.field.widget.input_type }}"
                        name = "{{ form.ba_calculo.name }}" 
                        id  =  "{{ form.ba_calculo.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.ba_calculo.value }}" {% if form.ba_calculo.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">
            </div>

        </div>

        <div class="col-2 mb-3" style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.calculo.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Ba. calculo:</label>
                <input  type="{{ form.calculo.field.widget.input_type }}"
                        name = "{{ form.calculo.name }}" 
                        id  =  "{{ form.calculo.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.calculo.value }}" {% if form.calculo.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">  
            </div>

        </div>

    </div>    

    <div class="row">

        <div class="col-1 mb-3"></div>
        <div class="col-1 mb-3"></div>

        <div class="col-2 mb-3">

            <div class="row">
                <label  for="{{ form.monto.id_for_label }}"
                        class="form-label col-form-label">Monto:</label>
                <input  type="{{ form.monto.field.widget.input_type }}"
                        name = "{{ form.monto.name }}" 
                        id  =  "{{ form.monto.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.monto.value }}" {% if form.monto.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">  
            </div>

        </div>    
                
        <div class="col-2 mb-3" style="margin-left: 5px;">

            <div class="row d-flex align-items-center">                
                <label  for="{{ form.montohs50.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Monto hs 50%:</label>
                <input  type="{{ form.montohs50.field.widget.input_type }}"
                        name = "{{ form.montohs50.name }}" 
                        id  =  "{{ form.montohs50.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.montohs50.value }}" {% if form.montohs50.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">  
            </div>

        </div>

        <div class="col-2 mb-3" style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.jubilacion.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Jubilacion:</label>
                <input  type="{{ form.jubilacion.field.widget.input_type }}"
                        name = "{{ form.jubilacion.name }}" 
                        id  =  "{{ form.jubilacion.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.jubilacion.value }}" {% if form.jubilacion.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">  
            </div>

        </div>  

        <div class="col-2 mb-3" style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.liquido.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Liquido:</label>
                <input type="{{ form.liquido.field.widget.input_type }}"
                        name = "{{ form.liquido.name }}" 
                        id  =  "{{ form.liquido.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.liquido.value }}" {% if form.liquido.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">
                    
            </div>

        </div>       

    </div>

    <div class="row">

        <div class="col-1 mb-3"></div>
        <div class="col-1 mb-3"></div>

        <div class="col-2 mb-3">
                       
            <div class="row d-flex align-items-center">
                <label  for="{{ form.nro_plani.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Nro planilla:</label>
                <input  type="{{ form.nro_plani.field.widget.input_type }}"
                        name = "{{ form.nro_plani.name }}" 
                        id  =  "{{ form.nro_plani.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.nro_plani.value }}" {% if form.nro_plani.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">  
            </div>

        </div>

        <div class="col-2 mb-3" style="margin-left: 5px;">

            <div class="row d-flex align-items-center">
                <label  for="{{ form.nro_imputa.id_for_label }}"
                        class="form-label col-form-label flex-grow-1">Nro imputa:</label>
                <input  type="{{ form.nro_imputa.field.widget.input_type }}"
                        name = "{{ form.nro_imputa.name }}" 
                        id  =  "{{ form.nro_imputa.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.nro_imputa.value }}" {% if form.nro_imputa.required %}required{% endif %}
                        style= "text-align: right; font-size: 16px; font-family: monospace;">  
            </div>            
        </div>
    </div>

</div>