{% extends 'main.html' %}
{% load static %}



{% block content %}
<div id="main_container" style="display:none">

    <div class="container-fluid">

        <div class="row">
            <h2 class="titulo">Procesar RE-RA</h2>
        </div>
        
        <div class="row">
            <div class="col-5 mb-3"></div>
            <div class="col-7 mb-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}        
                    
                    <div class="row">            
                        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-3 col-5  mb-3">
                            <label for="anio" class="form-label">Año:</label>        
                            <input type="text" name="anio" id="anio" value="0" required class="form-control">
                        </div>
                                  
        
        
                        <div class="col-xl-2 col-lg-5 col-md-6 col-sm-10 col-12  mb-3">
                            <label for="mes" class="form-label w-100">Seleccione el mes:</label>
                            <select name="mes" id="mes" required class="form-select">
                                <option value="0">-seleccionar mes-</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
        
                    </div>  
        
        
                    <div> 
                        <button type="submit" class="btn btn-primary" >Procesar</button>
                    <div> 
                </form>

            </div>
            

        </div>
        
       

        
    </div>

</div> 
{% endblock %}    



{% block extrascripts %}

  <script>
    window.onload = function() {
        document.getElementById('main_spinner').style.display = 'none';
        document.getElementById('main_container').style.display = 'block';
    };
</script>

{% endblock %}
