{% extends 'main.html' %}

{% block content %}

<div id="main_container" style="display:none">

  <div class="container-fluid">
    <div class="row">
      <h2 class="titulo">Agregar Pedido de Remuneración</h2>
    </div> 
    
    <div class="row">
      <div class="col-3 mb-3"></div>
      <div class="col-9 mb-3">
        <form method="post" id="formulario" action="">

          {% include 'app/remuneracion_pedido/form_base.html' %} 
          
        </form>
      </div>
      
    </div>

    <div class="row">
      <div class="col-3 mb-3" style="margin-left: 75px;"></div>
      <a  href="{% url 'remuneraciones_pedidos:lista' anio mes  %}" type="button" 
          class="btn btn-outline-secondary" style="margin-right: 5px;" >Cancelar</a>    

        <button type="button" id="agregar" class="btn btn-primary">Agregar</button>
    </div>                          
        
  </div >
</div>
    
{% endblock %}

{% block extrascripts %}

  <script>
    window.onload = function() {








      document.getElementById('agregar').addEventListener('click', function() {
          // Obtener los valores de anio y mes del formulario
          var anio = document.getElementById('anio').value;
          var mes = document.getElementById('mes').value;
      
          // Construir la URL de redirección
          //var url = '/remuneraciones_pedidos/crear/' + anio + '/' + mes + '/';
          var url = "{% url 'remuneraciones_pedidos:crear' anio mes %}"
      
          // Asignar la URL al atributo action del formulario
          document.getElementById('formulario').action = url;

          // Enviar el formulario
          document.getElementById('formulario').submit();       
      });

       

      comboselect2('id_depende');
      mostrarContenido();

    };
</script>

{% endblock %}