{% extends 'main.html' %}
{% load static %}

{% block content %}
<div id="main_container" style="display:none">
 
  <div class="container">
      
    <h2 class="titulo">Detalles de Pedidos de Remuneración</h2>   
    
    <form method="post" id="formulario" action="">

      {% include 'app/remuneracion_pedido/form_base.html' %} 

        <!-- Botón para ir a la lista-->
        <a  href="{% url 'remuneraciones_pedidos:lista' anio mes  %}" type="button" class="btn btn-outline-secondary" 
        id="lista">Ir a la lista</a>     


    </form>

  </div>

</div>
{% endblock %}





{% block extrascripts %}

  
  <script>
    window.onload = function() {

      
      mostrarContenido();

      bloquearCamposFormulario('formulario');


    };
</script>

{% endblock %}









    
