{% extends 'main.html' %}

  {% block content %}
  <div id="main_container" style="display:none">

    <div class="container">

      <h2 class="titulo">Editar</h2>  

      <form method="post" id="formulario" action="">
  
        {% include 'app/remuneracion_pedido/form_base.html' %} 
  
          
        <a href="{% url 'remuneraciones_pedidos:lista' anio mes  %}" type="button" 
          class="btn btn-outline-secondary" >Cancelar</a> 

        <button type="button" class="btn btn-primary" id="editar">Editar</button>
  
      </form>

    </div>  


  </div>
  {% endblock %}





{% block extrascripts %}

  
  <script>
    window.onload = function() {




    document.getElementById('editar').addEventListener('click', function() {
        // Obtener los valores de anio y mes del formulario


        var anio = document.getElementById('anio').value;
        var mes = document.getElementById('mes').value;
    

        // Construir la URL de redirección
        // var url = '/remuneraciones_pedidos/editar/' + {{ remuneracion.id }};
        var url = "{% url 'remuneraciones_pedidos:editar' registro.pk %}"

        // Asignar la URL al atributo action del formulario
        document.getElementById('formulario').action = url;

        // Enviar el formulario
        document.getElementById('formulario').submit();
    
      });
  
      comboselect2('id_depende');

      mostrarContenido();
    };
</script>

{% endblock %}




