{% csrf_token %}
 
<div class="container">
    <div class="row">
        <div class="col-1 mb-3">
            <label for="id" class="form-label">ID:</label>
            <input type="text" name="id" id="id" value="{{ remuneracion.id }}" class="form-control" required disabled>
        </div>
        <div class="col-1 mb-3">
            <label for="anio" class="form-label">Año:</label>
            <input type="text" name="anio" id="anio" value="{{ anio }}" class="form-control" required disabled>
        </div>
        <div class="col-1 mb-3">
            <label for="mes" class="form-label">Mes:</label>
            <input type="text" name="mes" id="mes" value="{{ mes }}" class="form-control" required disabled>
        </div>
    </div>

    <div class="row">
        <div class="col-2 mb-3">
            <label for="cedula" class="form-label">C.I. N°:</label>
            <input  type="{{ form.cedula.field.widget.input_type }}"
                        name = "{{ form.cedula.name }}" 
                        id  =  "{{ form.cedula.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.cedula.value }}" {% if form.cedula.required %}required{% endif %}>
        </div>
        <div class="col-4 mb-3"><label for="nombre" class="form-label">Nombres y Apellidos:</label>
            <input  type="{{ form.nombre.field.widget.input_type }}"
                        name = "{{ form.nombre.name }}" 
                        id  =  "{{ form.nombre.id_for_label }}"
                        class="form-control" 
                        value= "{{ form.nombre.value }}" {% if form.nombre.required %}required{% endif %}>
        </div>
        
        <div class="row">
            <div class="col-8 mb-3">
                <label for="id_depende" 
                        class="form-label col-form-label">Dependencia:</label>
                        <select id="id_depende" name="{{ form.id_depende.name }}" class="form-control" 
                                {% if form.id_depende.required %}required{% endif %}>
                                {% for choice in form.id_depende.field.choices %}
                                    <option value="{{ choice.0 }}" 
                                        {% if choice.0 == form.id_depende.value %}selected{% endif %}>
                                        {{ choice.1 }}
                                    </option>
                                {% endfor %}
                        </select>
            </div>
        </div>

        <div class="row">
            <div class="col-2 mb-3"><label for="horas" class="form-label">Horas Habilitadas:</label>
                <input type="{{ form.horas.field.widget.input_type }}"
                name="{{ form.horas.name }}" 
                id="{{ form.horas.id_for_label }}"
                class="form-control" 
                {% if form.horas.value %}value="{{ form.horas.value }}"{% endif %}
                {% if form.horas.required %}required{% endif %}>
            </div>
            <div class="col-2 mb-3"><label for="horas_ra" class="form-label">Horas RA:</label>
                <input type="{{ form.horas_ra.field.widget.input_type }}"
                               name="{{ form.horas_ra.name }}" 
                               id="{{ form.horas_ra.id_for_label }}"
                               class="form-control" 
                               {% if form.horas_ra.value %}value="{{ form.horas_ra.value }}"{% endif %}
                               {% if form.horas_ra.required %}required{% endif %}>
            </div>            
            <div class="col-2 mb-3"> <label for="expediente" class="form-label">Expediente N°:</label>
                <input type="{{ form.expediente.field.widget.input_type }}"
                               name="{{ form.expediente.name }}" 
                               id="{{ form.expediente.id_for_label }}"
                               class="form-control" 
                               {% if form.expediente.value %}value="{{ form.expediente.value }}"{% endif %}
                               {% if form.expediente.required %}required{% endif %}>
            </div>
            <div class="col-2 mb-3"><label for="memorandum" class="form-label">Memorandum N°:</label>
                <input type="{{ form.memorandum.field.widget.input_type }}"
                               name="{{ form.memorandum.name }}" 
                               id="{{ form.memorandum.id_for_label }}"
                               class="form-control" 
                               {% if form.memorandum.value %}value="{{ form.memorandum.value }}"{% endif %}
                               {% if form.memorandum.required %}required{% endif %}>
            </div>
            <div class="col"></div>
        </div>

        <div class="col-8 mb-3">
            <label for="observacion" class="form-label">Observación:</label>
            <textarea  type="{{ form.observacion.field.widget.input_type }}"
                name = "{{ form.observacion.name }}" 
                rows="3"
                id  =  "{{ form.observacion.id_for_label }}"
                class="form-control" 
                value= "{{ form.observacion.value }}" {% if form.observacion.required %}required{% endif %}>
            </textarea>
        </div>
    </div>
</div>